[2016-08-23 11:05] elfring opened #1 "reserved identifier violation"
I would like to point out that identifiers like "[`__sparsepp__h_`](https://github.com/greg7mdp/sparsepp/blob/a40039066dfba2e9df490f2ddd06e3376d25a67f/sparsepp.h#L1)" and "[`__spp_utils__h_`](https://github.com/greg7mdp/sparsepp/blob/a40039066dfba2e9df490f2ddd06e3376d25a67f/spp_utils.h#L72)" [do eventually not fit](https://www.securecoding.cert.org/confluence/display/cplusplus/DCL51-CPP.+Do+not+de

[2016-08-23 11:49] greg7mdp commented on #1
I was not aware of an existing C++ naming convention for these guard identifiers. Can you point me to a source describing this convention? I'd be happy to follow it.

[2016-08-23 11:57] elfring commented on #1
Would you like to [take another look at corresponding information sources](https://stackoverflow.com/questions/228783/what-are-the-rules-about-using-an-underscore-in-a-c-identifier#answer-228797 "What are the rules about using an underscore in a C++ identifier?")?

[2016-08-23 12:38] greg7mdp commented on #1
Thank you for the link and for filing the issue, Markus, issue is fixed.

[2016-08-23 12:38] #1 closed

[2016-08-23 12:44] elfring commented on #1
Thanks for [your improvement of affected identifiers](https://github.com/greg7mdp/sparsepp/commit/bd745f6af5fda622959f14fd12a375496e42f364 "Deletion of a few underscores")

[2016-08-24 08:17] lorenzhs opened #2 "Clarify license"
You have a bunch of different licenses in the header of `sparsepp.h` and it's not really clear under which license sparsepp can be used. Could you please clarify that a bit? The ones in the file appear to be:

- SparseHash's BSD license
- Boost License for the Boost bits - very similar to BSD
- You added another instance of the BSD license, but it's not entirely clear to which parts of the code it

[2016-08-24 11:36] greg7mdp commented on #2
That is a good point, I'll look into it, I'm not quite sure how these things work.

[2016-08-24 13:30] greg7mdp commented on #2
Thanks again for the issue, I have added a LICENSE file for the repo and simplified somehow in sparsepp.h. Hopefully it is more clear now.

[2016-08-24 13:30] #2 closed

[2016-08-24 14:04] lorenzhs commented on #2
Awesome, thank you!

[2016-09-05 16:20] rob-p opened #4 "Question about un-expectedly *good* speed"
Hi Greg,

  First, thanks for this excellent hash table!  I've been wanting something like this for some time, as I find the standard unordered_map in C++ to be reasonably fast, but with *very poor* memory use.  The balance struck by sparsepp is near-perfect, and it's a near drop-in replacement for unordered_map which makes it very easy to use.  I'm seeing something that, to me, is completely unex

[2016-09-05 16:28] rob-p opened #5 "Multiply defined symbol"
Hi Greg,

  When I compile (g++ 4.9.1) with the current `sparsepp.h` I get a multiply-defined symbol `void cpuid(int*, int)`.  It's not clear to me why this happens, as sparsepp seems to be properly include guarded, and the pre-processor directives should prevent the function from being defined more than once.  However, no re-arrangement of the headers seems to rectify this problem, and I don't ha

[2016-09-05 17:35] greg7mdp commented on #4
Hi Rob,

First, thank you very much for the feedback. It is good to hear about others using sparsepp!

Indeed, the search for better memory use is what lead me to work on sparsepp. At work, I found that unordered_map and other hash tables were crippling the size of models I could use, especially when they resize and the memory usage goes through the roof, so I had been using cpp-btree, but lookup

[2016-09-05 17:44] greg7mdp commented on #5
Thanks for the issue. Indeed it is not a very good idea to define a function named `cpuid()` in the global scope, so I renamed it `spp_cpuid()`. I believe it should resolve your issue.

[2016-09-05 17:44] #5 closed

[2016-09-06 22:07] r-lyeh opened #7 "MSVC 2013 64-bit compiler error"
Following error:

[code]

while compiling following source:

[code]

[2016-09-06 22:08] r-lyeh commented on #7
Some notes:
- It used to compile a few versions ago (cannot remember which version exactly).
- Fixed it by changing L931 to:
[code]

[2016-09-06 22:19] r-lyeh commented on #7
Some more issues:
- I cannot call `email.clear();` or `email = decltype(email)();` and then unserialize into it. Seems to load garbage rather than proper data. Is this behaviour expected at all?
- Once compiled. Program crashes at exit:

[code]

![image](https://cloud.githubusercontent.com/assets/878187/18292976/76c6efea-7490-11e6-9e19-fdbf1a344a05.png)

This looks to me like creating a global cla

[2016-09-06 22:21] r-lyeh commented on #7
That's all for now :) thanks for the library!

[2016-09-06 22:24] greg7mdp commented on #7
Thanks for the report. I can't look at it just now, but will later tonight.

[2016-09-07 02:16] greg7mdp commented on #7
regarding the second issue, it is because your FileSerializer is missing the methods, so it uses the template at the beginning to serialize the pair of strings, causing mayhem.

[code]

[2016-09-07 02:21] greg7mdp commented on #7
Actually, even better, use a template so it will work for all maps:

[code]

[2016-09-08 01:35] romange commented on #4
@rob-p Sorry for jumping in... Please make sure that your system does not use swap memory at all. Having swap disk might skew any benchmark.  As @greg7mdp pointed out neither of those libraries use system calls so you should not see any system time in your load test.

As a side note: for use-cases where you need to load a table once and use mostly lookups afterwards you might prefer using *cuckoo*

[2016-09-08 02:05] rob-p commented on #4
Hi @romange,

  No swap was being used here.  This was a set of benchmarks using either 5.5G (dense_hash_map) ore 2.6G (sparsepp sparse_hash) on a system with 256G of physical memory.  It's a multi-core system (24 cores), so it's possible there was some thread migration etc. going on in the background, but I performed the tests under a "typical" scenario.

  I'm very interested in the cuckoo hash

[2016-09-08 06:55] romange commented on #4
Could you point me to the code that builds this inverted index? Do you use
std::string as a key?

On 8 Sep 2016 5:05 a.m., "Rob Patro" <notifications@github.com> wrote:

[2016-09-08 14:10] rob-p commented on #4
@romange, the function that builds this inverted index is [here](https://github.com/COMBINE-lab/RapMap/blob/develop-salmon/src/RapMapSAIndexer.cpp#L251).  I don't use strings as keys.  Since I'm building the index over a small alphabet (the input string is DNA (actually, RNA) and the alphabet is {A,C,G,T}), I first 2-bit encode the string and then store each key as a 64-bit integer (meaning the st

[2016-09-09 07:47] romange commented on #4
@rob-p hmm, your keys and values are small POD types and your hash function is good. I do not see any reason why dense hash table would be slower than sparse table. One advice I could tell you is not to use `find` to check if a key already exists and then to use`operator[]` for insertion sequence.
You can save ~50% cpu work by using `auto res = insert(...)` (or convenient emplace in cxx11) and to

[2016-09-09 09:42] greg7mdp commented on #4
@romange the answer to your question is no, sparsepp will _not_ need 3x more memory when resizing, unlike dense_hash_map or most other hash tables. If you look at the writeup in bench.md, this is described there and the main reason why sparsepp can take so many more entries. There is a tiny memory usage bump for sparsepp  when resizing, maybe 1.1x to 1.2x.
You are correct that sparsepp does not us

[2016-09-09 11:10] romange commented on #4
@greg7mdp Your sparsepp is an excellent data structure which brings the state-of-art of hash table development a step forward!

I've read your explanation about block structure at https://github.com/greg7mdp/sparsepp/blob/master/sparsepp.h#L2270

Does it mean that you have an allocation per block? i.e. sparsepp that needs to contain 32M records will need to store 1M pointers as well?  It seems to

[2016-09-09 12:03] greg7mdp commented on #4
@romange thanks for the kind words! I have to credit Google developers (I think originally Craig Silverstein) for the idea and original implementation. I was very impressed with the design and just tried to improve it so performance was better.
You are correct there is one memory allocation per sparsegroup (each can contain as many as 32 entries). As the sparse table resizes when it is 50% full, o

[2016-09-14 22:17] rob-p opened #8 "Memory error when calling unserialize on sparse_hash_map."
Hi Greg,

  Sorry to bother you with this, but I'm trying to bisect a bug that coincides with my conversion to sparsepp.  Strangely, I only see a bug when running on my Mac (i.e. never on a linux system), but the bug also only presents when using sparsepp (config details at the bottom).  Is the `sparse_hash_map` safe to read simultaneously from many threads?  It's not the case that iterators are e

[2016-09-14 22:41] greg7mdp commented on #8
Hi Rob,

No problem. I don't think there would be any mutation, but I'll be glad to look into it to make sure. Can you let me know exactly what API you use to read from the sparse_hash_map (maybe share a few lines of code).

Thanks,

greg

[2016-09-14 22:44] rob-p commented on #8
Certainly, the multithreaded access is almost all via the `find(key_t)` function.  I use it from many threads like this:

[code]

where khash is the sparse_hash_map, and `merIt` is subsequently compared to `khash.end()` and used to access the variables (but not to modify them).  You can find relevant lines like those above [here](https://github.com/COMBINE-lab/RapMap/blob/develop-salmon/include/SA

[2016-09-14 23:16] greg7mdp commented on #8
Hi Rob,

I don't see any mutation anywhere in the map, or any use of static variables, except in spp_popcount(), but I don't think it would be an issue.

However, I see that for clang, sparsepp *always* call __builtin_popcount, and it may not be available on some processors. I tested with clang on my machine but the instruction *is* available.
Can you try commenting out the two lines at sparsepp.h

[2016-09-15 00:04] rob-p commented on #8
Hi Greg,

  No, this doesn't seem to fix it.  I'll keep poking around.  Strangely, I don't get the error when originally building the map, but instead after I deseralize it an attempt to use it.  I'll see if I'm doing something strange.  The reason this surprises me so much is that none of the "user" code changed (i.e. apart from not setting the empty key, as required with google's dense_hash_map,

[2016-09-15 00:19] rob-p commented on #8
Ok, a bit more info.  It definitely seems to be related to the seralize / unserialize calls.  If I instead dump a vector of key-value pairs to file and then rebuild the hash from those on the other side, everything seems to work fine.  Only when I use the built-in seralize / unserialize functionality do I see the error.

[2016-09-15 01:14] greg7mdp commented on #8
Oh, that's good info! What is the error? Do you have a crash at runtime, or incorrect results. If it crashes, can you get me the line where the crash occur? I actually have barely touched the serialization code, so I don't know it very well. I am looking at your code and it does seem correct, but I see a couple things:

* you open the hashstream in binary mode for writing `std::ofstream hashStream

[2016-09-15 01:20] rob-p commented on #8
As I looked more closely at the serialization code (my part), I realized the issues you point out above.  I've fixed the symmetry of ofstream/ifstream so they are both `std::ios::binary`, and I got rid of the construction of `cereal::BinaryOutputArchive` (which shouldn't have had any side effect anyway, but was no longer necessary in the current code).

The crash doesn't occur deterministically, u

[2016-09-15 01:42] greg7mdp commented on #8
Rob, I think you are probably right, and that there may be some kind of invalid memory write in sparsepp deserialization. Would you be able to maybe run the deserialization process with electric fence, to see if it catches something and point me to a specific code location?

[2016-09-15 01:44] rob-p commented on #8
Is there some analog of this for OSX?  If not I can switch back over to linux, but it's just that OSX is where the error occurs, so it seems like it might be the most fruitful avenue.

[2016-09-15 01:57] greg7mdp commented on #8
I really am not familiar with OSX, I don't know of something equivalent I can recommend. I think it might be better to switch to linux, even if it doesn't cause an error electric fence may detect an out-of-bounds write.
I'm going to sign off for the evening, but I'll be back tomorrow (not sure when though).

[2016-09-15 01:59] rob-p commented on #8
Sure, I'll keep digging and let you know if I find anything.  It looks like efence is available for OSX, so I'm trying with that.  I started printing out things are they are de-serialized, I get a segfault (but strangely no message from efence):

[code]
The huge numbers for the elements are actually OK (they are strings encoded as `uint64_t`) and the associated values (the tuples) look OK as well.

[2016-09-15 03:57] BenPope commented on #8
Clang has AddressSanitizer (compile with --sanitize=address)

[2016-09-15 04:05] rob-p commented on #8
Ok, I knew about address sanitizer, but have never used it before.  That was **insanely useful**.  Here is the output:

[code]

So, it's encountering a problem on the very first read from the serialized file.  All this function does is to open the ifstream and then call `unserialize` on the hash.

[2016-09-15 14:34] rob-p commented on #8
Ok, so it's one of *those* bugs ... Modifying the `allocate` function in the `libc_allocator_with_realloc` class allows the program to run without complaints from the address sanitizer:

[code]

That is, all I have done is to print out `sizeof(value_type)` before allocating the memory.  Clearly, something else is going on — maybe undefined behavior somewhere else earlier in the call chain?

[2016-09-15 15:07] greg7mdp commented on #8
Rob, that is very odd, it is hard to see why printing out something in the allocate function would change anything. I did step through the unserialize code (on windows) and I did not see anything suspicious. I'll keep looking later this evening.

[2016-09-15 15:20] rob-p commented on #8
Thanks!  Digging a bit deeper, it looks like `allocate` is sometimes being called with a value of `n=0`, which I assume shouldn't happen.  It's possible there is some issue in the code that determines the values with which to call allocate, so that later we get references to unallocated memory.

[2016-09-15 15:25] BenPope commented on #8
If Clang takes advantage of undefined behaviour, -fsanitize=undefined should tell you.

[2016-09-15 16:16] greg7mdp commented on #8
That is interesting. Looking at the code, I don't see how it could be called with a value of zero.
Do you unserialize into different sparse_hash_maps in separate threads simultaneously?
If yes, please try the following change at line 5625

        if (s_alloc_batch_sz[SPP_GROUP_SIZE - 1])

[2016-09-15 16:33] greg7mdp commented on #8
@BenPope thanks for the clang tips! I didn't know these options.
@rob-p the more I think of it, the more I think this is the issue and that my suggestion above should fix it. I was not thinking you had separate khash maps in each thread? Do they contain different data?

[2016-09-15 17:08] rob-p commented on #8
Hi @greg7mdp,

  Do you mean a different line number?  5625 is the #endif at the end of the file.

[2016-09-15 17:26] greg7mdp commented on #8
Oops, sorry, line 3224

[2016-09-15 17:30] rob-p commented on #8
That line matches, but making the change doesn't seem to have fixed it.  Actually, I'm populating only a single sparse_hash_map.  Originally, I was doing this asynchronously in a separate thread, but to simplify things I've moved it all into the main thread anyway.  I really have no explanation for why printing out `n` or `sizeof(value_type)` permits the sanitizer to pass, other than that it chang

[2016-09-15 17:39] greg7mdp commented on #8
@rob-p, I'm puzzled as well! Can you try replacing the initialization at line 2293 with:

static uint8_t s_alloc_batch_sz[SPP_GROUP_SIZE] = { 8, 8, 8, 8, 8, 8, 8, 8, 12, 12, 12, 12, 16, 16, 16, 16,
                                                                                    18, 18, 20, 20, 22, 22, 24, 24, 26, 26, 28, 28, 30, 30, 32, 32 };

[2016-09-15 17:43] rob-p commented on #8
@greg7mdp --- that seems to fix it?!!  I have no idea why, though.  Any thoughts on how this changes things (and if this is a robust fix)?

[2016-09-15 18:01] greg7mdp commented on #8
Well, I don't have a solid answer, but I'll try to explain my reasoning a little bit.

The idea is that when inserting items, if we allocate the exact size every time, we reallocate a lot (the sparse group contain a maximum of 32 items each, and on average 16 when the sparsetable resizes). So we don't want to allocate a buffer for 1 item, and call reallocate() when inserting the second item, etc.

[2016-09-15 18:22] rob-p commented on #8
I see.  Thanks for the detailed explanation.  Indeed, when I print out `s_alloc_batch_sz` at the end of `_init_alloc_batch_sz()` it appears to be empty (not even just 0, but ill defined in some way).  Here is what I get:

loop:

[code]

output:

[code]

[2016-09-15 18:29] greg7mdp commented on #8
What??? How can it not print anything? I've never seen anything like that.
Does it think it is a space character because s_alloc_batch_sz is an array of **uint8_t**?
What if you replaced it with uint32_t? Or print with printf() and %d?

[2016-09-15 19:20] rob-p commented on #8
Yup, the problem was exactly that (interpreting it as a character).  I cast to uint32_t and I get the expected output:

[code]

of course, now the question is, if this is being populated as expected, why does it not work (i.e. when I do this I still get the address sanitizer error):

[code]

[2016-09-15 19:51] greg7mdp commented on #8
Regarding your PS: both versions are fine, the version I provided allocates memory a little bit more aggressively, however the size should never be 0.
With your printouts, I assume the following:
- you see the `s_alloc_batch_sz[0] = 4, ...` printout before any `libc_allocator_with_realloc::allocate()` call
- you never have an `libc_allocator_with_realloc::allocate()` call with n == 0 anymore, do y

[2016-09-15 21:02] greg7mdp commented on #8
@rob-p, where is the khash that you unserialize the file into defined? Is it a static variable?

[2016-09-15 22:05] greg7mdp commented on #8
@rob-p , please try this new version, I think I understand the issue and it should fix it. If you confirm the fix, I'll write down my understanding of the issue.

[2016-09-15 22:25] rob-p commented on #8
Hi @greg7mdp,

  Sorry for the slowdown in my replies, I had a meeting for my research group that I had to attend and so just got back and had a chance to test this out.  It looks like this fix works!  I'm guessing there was some sort of `static initialization fiasco` happening?

[2016-09-16 01:26] greg7mdp commented on #8
Hi Rob,

No problem about the slowdown. Indeed it was a static initialization order issue (I should have thought of it, it already happened to me but it was a while ago).

In sparsepp, I have this static array defined at the file (namespace) scope, and I was using it when the sparse_hash_map is constructed.

In your program, the sparse_hash_map is also declared at the file scope (I think), so its

[2016-09-16 01:26] #8 closed

[2016-09-16 02:04] rob-p commented on #8
Hi Greg,

  Great; thanks for the detailed explanation.  It does make sense, and, likewise, this isn't the first time I've been bitten by static order initialization.  Thanks also for the tips!  I'd actually chosen xxhash based on their speed claims (https://github.com/Cyan4973/xxHash).  If you think the default sparsepp hash may be faster without increasing too much, the collision probability, th

[2016-09-16 03:26] greg7mdp commented on #8
Hi Rob,

Those hash functions like MurmurHash and CityHash attempt to make sure that all bits of the source contribute to all bits of the hash value. This is definitely the safer option, but not necessarily required in typical cases (they are good if the keys you are hashing are not well distributed to begin with).

I think it would be interesting to try the default sparsepp hash, which doesn't ha

[2016-09-23 21:53] zhaoyanswill opened #9 "unexpected memory usage after unserialization"
Hi,

sparsepp is really great!

I create a <uint64_t, string> map. In my test code, about 178M <uint64_t,string> pairs are inserted into the map. And then I look-up them again. While looking up them, the memory usage is ~4.995G.

And then I add serialization and unserialization code (copied from your example 3) between insertion and look-up part. During the serialization, the memory usage is still

[2016-09-24 00:30] greg7mdp commented on #9
Hi,

Thank you for the kind words!

Let's try to figure out what happens. In the example, I do unserialize into a second hash_map, so the memory would be doubled. Do you do the same thing?

If yes, you could put braces around the lines using the first hash map, so the memory used by the first hash map would be released when exiting the block, such as:

[code]

[2016-09-24 20:15] zhaoyanswill commented on #9
Thank you for your reply! I used one map. The code is shown below:

	FILE *out = fopen("uniq.map", "wb");
	mUniq.serialize(FileSerializer(), out);
	fclose(out);
	mUniq.clear();
	cout << "clean:\t" << mUniq.size() << endl;

	// look up
	FILE *input = fopen("uniq.map", "rb");
	mUniq.unserialize(FileSerializer(), input);
	fclose(input);

[2016-09-25 03:06] greg7mdp commented on #9
OK, thank. Let me have a look at this and I'll get back to you.

[2016-09-25 03:11] zhaoyanswill commented on #9
Thanks a lot!

[2016-09-25 13:34] greg7mdp commented on #9
What is the type of mUniq?

[2016-09-26 14:15] zhaoyanswill commented on #9
spp::sparse_hash_map<uint64_t, string> mUniq;

Thanks!

[2016-09-26 15:00] greg7mdp commented on #9
Please share your full test program. Here is the one I used, and I don't see any abnormal memory usage:

[code]

and the output:

[code]

[2016-09-26 15:38] zhaoyanswill commented on #9
Here is my code. Another question: I tried to used your app::GetProcessMemoryUsed() but didn’t work.  Thanks!

int main(int argc, char** argv)
{
	vector<string> vTest;
	size_t nNum = 1e7;
	{
		string sUnique = "unique";
		ifstream iffU(sUnique);
		string sSeqU;
		getline(iffU, sSeqU);
		iffU.close();

		vector<string> vSplit;
		split(vSplit, sSeqU, is_any_of("|"));
		cout << "total size:\t" << vSp

[2016-09-26 18:22] greg7mdp commented on #9
Thanks. Please also provide the source code for the functions mer2num and num2mer.

[2016-09-26 18:27] zhaoyanswill commented on #9
Here is the code.

uint64_t mer2num(string& s, uint32_t nOff, uint32_t nK, const uint32_t* aC2I)
{
	uint64_t nNum = 0;
	for (size_t i = nOff; i < nOff+nK; ++i)
	{
		nNum = (nNum<<2) | aC2I[s[i]];
	}
	return nNum;
}

string num2mer(uint64_t nNum, uint32_t nK, const char* aI2C)
{
	string s;
	s.reserve(nK);
	for (int i = (nK-1)*2; i>=0; i-=2)
	{
		s += aI2C[(nNum>>i)&3];
	}
	return s;
}

[2016-09-26 19:30] greg7mdp commented on #9
OK, now your example builds, but it doesn't fill the hash_map with data. Probably because I don't have the "unique" file.

[2016-09-26 19:39] zhaoyanswill commented on #9
The “unique” file is huge. It consists of “r[0-9]|seq1|seq2|seq3|seq4”. Each seq consists of A,C,G,T. You may randomly generate some or I can write a python script that is able to generate some. Thanks for your time!

[2016-09-26 19:41] greg7mdp commented on #9
Yes, please provide the python script, or some C++ code that adds the sequences to the sparse_hash_map rather than reading them from a file.

[2016-09-26 21:16] zhaoyanswill commented on #9
It’s weird that memory usage is normal while I insert either 1e8 random uint64_t numbers and their index or [(ULLONG_MAX-0,0), (ULLONG_MAX-1e8,1e8)) and serialize/unserialize the map. I’ll check my previous code. Thank you for your help!

[2016-09-26 22:48] zhaoyanswill commented on #9
Hi, I finally figured out what I really wanted to ask about!:D

The serialized file is about 2.3GB, but the unserialized map is about 6.2GB. So it seems that the overhead is higher than sparse_hash_map.

My code is here:

int main(int argc, char** argv)
{
	size_t nNum = 1e8;
	cout << "testing size:\t" << nNum << endl;

	//dense_hash_map<uint64_t, string> mUniq;
	//mUniq.set_empty_key(0);
	spp::spa

[2016-09-26 23:25] greg7mdp commented on #9
I think I have the answer, but please tell me what compiler, platform and standard library you are using.

[2016-09-26 23:31] zhaoyanswill commented on #9
My os is Ubuntu 14.04. g++ version is 4.9.3. Thanks!

[2016-09-26 23:58] greg7mdp commented on #9
Hum, I think for g++4.9 with GNU libstdc++, each string occupies 8 bytes (for the pointer) + 25 bytes + the capacity in the heap.

For your numbers (average length 8 characters), the size in the file would be 16 characters, but the size in memory for the std::string would be 8 + 25 + 9 so at least 42 bytes, which is over 2.5 times the memory for serialization.

I would suggest that you try using s

[2016-09-27 01:22] zhaoyanswill commented on #9
I see. Lesson learned! Those strings are not unique. I’ll put them in vector and then just put their index in the map. Thank you!

[2016-09-27 03:00] greg7mdp commented on #9
Perfect, glad I was able to help, I'll close the issue.

[2016-09-27 03:00] #9 closed

[2016-09-28 18:43] dbseraf opened #10 "build problems"
Just FYI:

1. on Cygwin on Windows using g++ version 5.4, I had to change  the option '-std=c++0x' to '-std=gnu++ 0x' because it complained strdup was undefined.

2. compile failed on SuSE/SLES 12 and openSuSE Leap 42.1 on ARM64 with g++ version 4.8.5 because cpuid.h doesn't exist.  I suspect this is an ARM64-specific problem, but I don't have an x86 SuSE system to check against.

[2016-09-29 01:00] greg7mdp commented on #10
Hi,

Thank you very much for the report. I would like for sparsepp to build everywhere, but it is tough to test on many platforms, so reports like yours help a lot.

I just checked in a change that should address your second issue, provided that the absence of cpuid.h was the only problem.

I don't know what to do for the first issue. I don't use strdup internally, so I'm not sure where the error

[2016-09-29 12:26] Bu11etmagnet commented on #10
@dbseraf
Where did it complain about strdup? An error message would be nice.

[2016-09-29 18:08] dbseraf commented on #10
My apologies.  That was a poor bug report.

On cygwin:

$ make
g++ -O2 -std=c++0x -D_CRT_SECURE_NO_WARNINGS spp_test.cc -o spp_test
spp_test.cc: In member function 'void {anonymous}::ValueType::set_s(const char*)':
spp_test.cc:986:79: error: 'strdup' was not declared in this scope
         s_ = (new_s == NULL ? kDefault : reinterpret_cast<char*>(_strdup(new_s)));

[2016-10-02 21:22] Bu11etmagnet commented on #10
You need -D_XOPEN_SOURCE=700 or some _POSIX_C_SOURCE value for strdup to be visible on Cygwin

[2016-10-02 21:33] Bu11etmagnet commented on #10
Fix in #11

[2016-10-02 22:53] greg7mdp commented on #10
@Bu11etmagnet, thanks a lot for the fixes. For some reason I didn't have this issue on my cygwin install with an older g++ version.

[2016-10-02 22:53] #10 closed

[2016-10-02 23:07] greg7mdp commented on #4
As much as I enjoy seeing this issue title, I guess I still need to close it.

[2016-10-02 23:07] #4 closed

[2016-10-06 18:53] fegennari opened #12 "Assertion Failure in erase()"
I tried replacing a usage of gnu_cxx::hash_map in our code with sparsepp::sparse_hash_map, but I get an assertion failure in erase():
sparsepp/sparsepp.h:2824: bool spp::sparsegroup<T, Alloc>::erase_ne(Alloc&, twod_iter&) [with twod_iter = spp::Two_d_iterator<std::pair<croix::hashed_squish_bits_t, croix::subwind_map_value_t>, spp::sparsegroup<std::pair<croix::hashed_squish_bits_t, croix::subwind_m

[2016-10-06 19:05] greg7mdp commented on #12
This is a known incompatibility with std::unordered_map, and is documented in the readme.md:

"Calls to erase() may invalidate iterators. However, conformant to the C++11 standard, the position and range erase functions return an iterator pointing to the position immediately following the last of the elements erased. This makes it easy to traverse a sparse hash table and delete elements matching a

[2016-10-06 19:13] fegennari commented on #12
I see. I need to put the interators into a vector so that they can be sorted by a sort function that's different from the hash function. The sort function only looks at part of the data (the "name"). This makes the results deterministic across runs where part of the data that is hashed can change from run to run. I only need the hashing part to remove duplicates. I would use a regular map, but tha

[2016-10-06 19:49] greg7mdp commented on #12
Are you using a sparse_hash_set, or is it a sparse_hash_map with a large key?

Could you first insert all the items to the new data structure, and then remove them from the sparse_hash_map using "erase(const key_type& key );", using the key values from the new data structure.

I know that this means that the values will be duplicated during that process, but that would be the case with Google's ve

[2016-10-06 20:02] fegennari commented on #12
I'm using sparse_hash_map. Both they key and value contain vectors and are large. It's okay to duplicate a few values, but if I'm removing all 40M values from the hash_map and putting them somewhere else I don't want them all to be duplicated at any point in time. I also still need to use the hash_map after filtering/erasing, so the keys do need to be removed from the map at some point.

It might

[2016-10-06 21:18] greg7mdp commented on #12
I don't think that would help, because that would not prevent the duplication of memory. Also I don't think it could be done with the current sparsepp architecture.

I could provide a new `erase(iterator *first, iterator *last)`  API that would safely erase a range of iterators. That would not help with the duplication, as you'd have to erase all your iterators in one call, but as I wrote earlier

[2016-10-06 21:32] greg7mdp commented on #12
Also, I forgot to mention, since your keys and values contain vectors, I hope they provide the move assignement operators for good performance.

[2016-10-06 21:39] fegennari commented on #12
Let me switch to using my gmail account for this, since we're getting off
the topic of the original issue report and discussing workarounds and fixes
on my side.

As for move operators: We currently build with several compilers (gcc
versions). The oldest doesn't have much C++11 support, but we need it for
RH5 builds and need to keep the code compiling there until we can drop RH5
support. At that p

[2016-10-06 21:50] greg7mdp commented on #12
Hi Frank,

I think what you suggest would work, but I'd like to see if I can help to find a better solution. However, I'm not sure I understand what exactly you are doing. Above you wrote:

Did you mean "the sorting part".  And why is the hash computed not just from the name (like the sort)? Would there be a small code fragment you could share with me?

[2016-10-07 00:39] fegennari commented on #12
I tried to fix the erase() problem and my smaller tests are passing.
However, one of the larger test sometimes crashes with glibc errors. It's
pretty random, but here is a sample of one of the errors I've seen:
*** glibc detected *** double free or corruption (!prev):
0x0000000003123d00 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x7da26)[0x7fbcbfd5ba26]
/home/gennari/svn_wor

[2016-10-07 00:48] fegennari commented on #12
Gregory,
I'm using the hash_map as a database. The key + value are a mixture of
various pointers to other containers that are configured by the user to
either be used or empty/null. Some of the fields are used as the key and
are uniqued across all of the insert operations. The primary key is a text
string and is always present. The values are merged in various ways when
duplicate keys are encounte

[2016-10-07 01:29] greg7mdp commented on #12
I don't think so. Indeed in multiple timing tests I have I included both headers in the same cxx file and used both hash maps and I haven't seen any problem, however I cannot be 100% positive. You are right, they use different namespaces, and I believe all the macros in sparsepp.h are prefixed with `SPP_`.

As long as you don't erase() entries, this should be no problem.
But I understand that ther

[2016-10-07 03:00] fegennari commented on #12
Including both headers isn't the problem. It works fine if I include both
but revert the rest of the code. Hm. I get that glibc invalid free error
even if I remove all of the erase() operations, so it must be a different
problem.

Frank

On Thu, Oct 6, 2016 at 6:29 PM, Gregory Popovitch <notifications@github.com>
wrote:

[2016-10-08 23:20] greg7mdp commented on #12
Hi Frank,

Did you make any progress with this issue? If there was a way you could share a piece of code reproducing the issue, I'd like to have a look at it.

Thanks,

greg

[2016-10-09 00:54] fegennari commented on #12
Greg,
I haven't been able to solve the random glibc memory corruption problem. I
don't really have any ideas. The code that uses the sparse_hash_map is
spread across thousands of lines of code in multiple files, with dozens of
different insert/find/[]/erase, etc. calls. It's in the core database used
to transfer data between our applications. It's not in one place where I
could easily send the cod

[2016-10-09 02:21] greg7mdp commented on #12
Maybe you could try using a heap debugging tool like electric-fence or using the flag  -fsanitize=address , with a recent g++ or clang compiler, that could provide some useful hint as to where the bug comes from.

[2016-10-09 04:31] fegennari commented on #12
That's a good idea. I've used -fsanitize-address before and it might work
now. I'm not sure if we have access to electric fence - or does it come
installed with gcc? I'll try this when I'm back at work on Monday. Thanks.

Frank

On Sat, Oct 8, 2016 at 7:21 PM, Gregory Popovitch <notifications@github.com>
wrote:

[2016-10-14 18:47] fegennari commented on #12
Greg,
I got back to looking into the sparsepp problems. I have what I believe is
a deterministic failure with a valid stack trace (below).

I'm not doing any erase() calls for this run. I believe there are only
calls to operator [] that look like this:
value_t &v( the_map[key] );
v.update( ... );
...

I'm not sure how to debug this further. My small test cases don't fail in
this way, only the larg

[2016-10-16 20:09] greg7mdp commented on #12
Frank, I wish I could help, but I don't know what I can do. From your stack trace, it looks like there is a memory issue, but I don't see a bug when I review the sparsepp code. Without being able to reproduce the issue myself, there is not much I can do.

I would recommend using a tool like [electric-fence](http://linux.softpedia.com/get/Programming/Debuggers/Electric-Fence-3305.shtml) or [Valgrin

[2016-10-16 23:07] fegennari commented on #12
Greg,
Thanks for your help with this. Unfortunately, I can't share either the
source code or the inputs (customer data). I don't have time to put much
more effort into debugging this issue. I think I'm going to have to
continue to use a combination of Google's hash maps and the gcc has_map in
our code for now. I'll let you know if I figure anything else out.

Oh, and I was able to use sparsepp to

[2016-10-17 00:12] greg7mdp commented on #12
Frank,

Sorry I couldn't help more. I'll close the issue for now, since I can't work on it on my end, but feel free to reopen it if you have any more information. Thanks again for trying out sparsepp.

[2016-10-17 00:12] #12 closed

[2016-10-27 19:33] dratchkov opened #13 "Assertion"
I am seeing this assertion:

sparsepp.h:3979: bool spp::sparse_hashtable<Value, Key, HashFcn, ExtractKey, SetKey, EqualKey, Alloc>::_maybe_shrink() [......]: Assertion `(bucket_count() & (bucket_count()-1)) == 0' failed.

Any suggestion?

[2016-10-27 20:08] greg7mdp commented on #13
That's odd! Can you share a piece of code that causes this assertion to occur? If not, I'll review the code anyways. Thanks for using sparsepp.

[2016-10-27 20:22] dratchkov commented on #13
I did a printf("%lu\n", bucket_size()), got a 3290421856, printed just once.

This is part of a really large and convoluted code, I just can't extract a useful piece to reproduce the problem.

Let me know if you have some suggestions to debug. I'll try in the mean time to figure out what's hapenning.

-dave

[2016-10-27 20:29] dratchkov opened #14 "Using pointer as a key"
It seems that spp_hash depends on knowing the struct/class behind a pointer. I am using a 3rd party code that hides the object internals, so all I have are pointer to forward declaration of a class. As a result, taking sizeof(T) fails to compile.

 I hacked my copy to temporarily take sizeof(T*). Is this OK?

-dave

[2016-10-27 21:07] dratchkov commented on #13
here is backtrace from gdb:

#0  0x00002aaaac308925 in raise () from /lib64/libc.so.6
#1  0x00002aaaac30a105 in abort () from /lib64/libc.so.6
#2  0x00002aaaac301a4e in __assert_fail_base () from /lib64/libc.so.6
#3  0x00002aaaac301b10 in __assert_fail () from /lib64/libc.so.6
#4  0x00000000008b6f4a in spp::sparse_hashtable<std::pair<NdsInstance*, bool>, NdsInstance*, spp::spp_hash<NdsInstance*>,

[2016-10-27 23:59] dratchkov commented on #13
This issue seems to have the result of iterators getting invalidated by insert. I will close it.

[2016-10-27 23:59] #13 closed

[2016-11-03 13:32] greg7mdp commented on #14
Hi Dave,

Sorry I took so long to answer. The only reason that sparsepp takes sizeof(T) is to avoid having the lower bits of the hash value be all zeros. Your change is perfectly fine. I'll see if I can update the code to avoid dereferencing the pointer if all we have is a forward declaration.

[2016-11-06 17:01] greg7mdp commented on #14
Issue is fixed, thanks for the report Dave.

[2016-11-06 17:01] #14 closed

[2016-11-08 07:03] springmeyer opened #15 "Emplace"
I noticed that `emplace` functionality is disabled (https://github.com/greg7mdp/sparsepp/blob/master/sparsepp.h#L4551-L4563). Any plans to re-enable this functionality? My motivation in asking is to be able to try sparsepp in place of `std::unorded_map` in C++11 code that is using `emplace`.

[2016-11-08 13:40] greg7mdp commented on #15
Hey Dane, thanks for using sparsepp. Just added support for emplace(). Please let me know if you have any further issue.

[2016-11-08 13:40] #15 closed

[2016-11-10 20:37] springmeyer commented on #15
Thank you @greg7mdp! I'll plan to test again and will file a new issue if I hit any problems.

[2016-11-10 20:59] springmeyer opened #16 "Support for noncopyable objects"
I'm trying to add a noncopyable, but movable, object into `emplace()`. I've also tried `insert()`. Both return a compiler error like https://gist.github.com/springmeyer/503f8a842f8c9a09bccf21325c03c866. I'm seeing this with clang++ on OS X 10.11.

[2016-11-10 21:01] springmeyer commented on #15
Tested things out. Now hitting a problem with noncopyable objects. Created an issue at #16

[2016-11-10 21:03] springmeyer commented on #16
Here is a testcase: https://github.com/springmeyer/cxx-perf/tree/master. To replicate do:

[code]

Uncomment these lines: https://github.com/springmeyer/cxx-perf/blob/master/insertion_speed.cpp#L100-L120

Then:

[code]
Should result in a compiler error. Am I doing something wrong?

[2016-11-10 21:52] greg7mdp commented on #16
Thanks for reporting the issue and the test case. I'll look at it right away.

[2016-11-10 22:27] springmeyer commented on #16
@greg7mdp sounds good, thank you.

[2016-11-11 01:27] greg7mdp commented on #16
@springmeyer, I believe the issue is fixed. I tested it with clang 3.8 on ubuntu. It seems that sparsepp does not shine in your test of insertions, esp. with small tables.

[2016-11-11 01:32] greg7mdp commented on #16
@springmeyer, found an issue in your test program. You were calling `m.reserve(iterations);` instead of `m.reserve(container_size);`. After fixing this, the results look better for sparsepp.

[2016-11-11 02:27] springmeyer commented on #16
Thank you on both accounts. I confirmed it compiled now as well!

[2016-11-11 13:26] greg7mdp commented on #16
Excellent, thanks for letting me know @springmeyer. Also I'd love to get some feedback of your experience with sparsepp, good and bad.

[2016-11-11 13:26] #16 closed

[2016-11-11 13:28] greg7mdp opened #17 "feedback please!"
This is not a real issue, but just a space to provide feedback on sparsepp, good or bad. I'd love to hear what you think. Thank you in advance.

[2016-11-11 22:38] springmeyer commented on #16
@greg7mdp Okay, will do! There are at least two open source projects I'm a maintainer on that depend on google sparsehash library. Because it has not seen a release for a long time I've been watching for alternatives. This is how I found your library.

Those two usages are of `sparsetable` (https://github.com/osmcode/libosmium/blob/master/include/osmium/index/map/sparse_mem_table.hpp#L42) and `den

[2016-11-12 01:09] greg7mdp commented on #16
@springmeyer, thanks a lot! I do not plan on providing a new implementation of `sparsetable` or `dense_hash_map` in  the near future. The `dense_hash_map` is not as interesting to me, as it does use a lot of memory, and I was attracted by the very low memory requirements of the `sparse_hash_map`... but then it is very fast.

I just pushed a new version of sparsepp which adds support for std::refer

[2016-11-12 01:24] springmeyer commented on #16
👍

Yes, makes sense. I ended up using it in a situation were I needed the best possible speed. Maybe I will return to that question in the future...

[2016-11-19 17:33] dratchkov commented on #14
Thanks for fixing this!

[2016-11-19 17:37] dratchkov commented on #17
I liked the reduced memory footprint and am switching my code to this where appropriate.

[2016-11-19 18:45] greg7mdp commented on #17
Thanks David!

[2016-11-19 19:35] denji opened #18 "Codestyle astyle/clang-format/uncrustify"
Codestyle to reduce fragmentation code.

[2016-11-19 22:50] greg7mdp commented on #18
Sorry, I do not understand what this issue is about.

[2016-11-20 18:15] romange commented on #17
@greg7mdp  Is it possible to open source the benchmarking code? Could be part of this or separate repository...

[2016-11-20 23:54] greg7mdp commented on #17
@romange, just added the repository hash-table-shootout which is the benchmarking code I used (updated from https://github.com/aggregateknowledge).

[2016-11-21 11:34] romange commented on #17
@greg7mdp  Thanks!

[2016-12-12 18:58] indigox4 opened #19 "Possible iterator bug?"
I'm replacing some usage of `std::unordered_map` with `sparse_hash_map` and I've encountered an occasional issue with iterators.

[code]

With this code, keyB will occasionally map to some garbage values (0xdddddddd, indicating deleted memory), and not the same value as keyA, which is what I would expect. The same code works fine with `std::unordered_map`.

If I store keyA's value in a temp variab

[2016-12-13 02:47] greg7mdp commented on #19
Hi there,

Thank you using sparsepp, and for for taking the time to report this issue. Indeed iterators may be invalidated when an item is inserted into sparsepp, and that is expected behavior, but I should have stated it clearly in the readme.md (which I will update).

Please note that inserting an item into a std::unordered_map may also invalidate iterators, albeit only if this causes a resize.

[2016-12-13 15:23] indigox4 commented on #19
Ah ok, that makes sense. I was replacing unordered_map in some third-party code and it never occurred to me the existing code could be mis-using the STL.

Just by changing a few unordered_maps to sparse_hash_maps and fixing that insertion bug, I've managed to speed up our code by about 1.5x, and reduce our memory consumption by 20% as well, so thanks for that!

[2016-12-13 16:26] greg7mdp commented on #19
Well, the invalidation of iterators when inserting will occur more often with sparsepp, so I certainly should mention it in the readme. Really glad to hear that you are happy with sparsepp. Do you use it on windows or linux?

[2016-12-13 18:00] indigox4 commented on #19
Sounds good, thanks again.

We release our app on Windows, OSX, and Linux, but all of the performance testing I did was on Windows 7.

-------- Original message --------
From: Gregory Popovitch <notifications@github.com>
Date: 2016-12-13 11:27 AM (GMT-05:00)
To: greg7mdp/sparsepp <sparsepp@noreply.github.com>
Cc: Stephen <indigox3@hotmail.com>, Author <author@noreply.github.com>
Subject: Re: [greg

[2016-12-13 18:33] greg7mdp commented on #19
OK. Then you may want to watch for a new version in a couple weeks. I have noticed that on windows, the memory saving is not as good as it should be because the windows default allocator (malloc) fragments the heap and has a very high overhead... so I'm currently implementing a special allocator for sparsepp which will solve this issue. With that new version, the memory savings will be much higher

[2016-12-30 11:59] dselivanov commented on #17
Awesome work. I made small R packages which allow to easily use sparsepp with R packages and Rcpp - https://github.com/dselivanov/sparsepp.

Initially I evaluated Sparse++ with my another project (https://github.com/dselivanov/text2vec) where main data structure is `unordered_map< pair<uint32_t, uint32_t>, T >`, `T` is `int` or `float`.
Memory improvement was 2x and speed up was 1.5x (lookup and i

[2016-12-30 15:17] #19 closed

[2016-12-30 15:22] greg7mdp commented on #17
Thank you, @dselivanov, I really appreciate the feedback and I am glad you find sparsepp useful.

[2016-12-30 15:41] kirbyfan64 commented on #18
I think he's saying to use a C++ formatting tool on the code base (like clang-format).

[2016-12-30 16:37] greg7mdp commented on #18
@kirbyfan64, sounds reasonable, will do.

[2016-12-31 01:03] kmohanram commented on #17
so, i evaluated sparsepp as a drop-in replacement for std::unordered_map in a personal library (header, more like) that i use in my work over the break. i have tuned the library for performance, and it seems at first blush that sparsepp can at best match the STL container in my benchmarking on a test suite that i consider representative. in past incarnations, my library used dense_hash_map with go

[2016-12-31 01:31] greg7mdp commented on #17
@kmohanram, thanks for the feedback!

dense_hash_map should be *much* faster than the STL's unordered_map, I am surprised that you see only a 0-20% improvement.

So I suspect that the time is spent somewhere else than in the hash table code itself. Maybe the hash implementation for your 'key' class is taking most of the time. Or maybe copying it takes a long time? Do you have a move constructor?

[2016-12-31 02:37] kmohanram commented on #17
std::hash<uint32_t> is pass through and my hash simply adds three uint32_t fields in the user-defined class and returns that value. turns out that is a darn close (serendipitous, if may confess) value to a little over the number of entries in the hash table. so, it is almost like an insertion hint to an empty place in the hash map, or a collision that more than likely is a hit (i.e., this is not a

[2016-12-31 02:52] kmohanram commented on #17
just ran the suite with the call to reserve commented out and see a 20% performance degradation with sparsepp (on my mac, fwiw, since that can also affect these numbers). happy to work with you to help comprehend and resolve this, even if the case is an anomaly and even if it is unique to the mac ...

[2016-12-31 12:02] vspinu opened #20 "realocation of <long, double> map takes very long after about 60mil updates"
On [sparsehash issue tracker](https://github.com/sparsehash/sparsehash/issues/123) I have said that the update is getting stuck. It's actually not true, I just never waited long enough to see it going.

The program below processes about 3mil keys/sec till about size of 60mil where it gets stuck for about 2minutes twice. Then updates continue at a comparable speed as before then gets stuck on the n

[2017-01-01 00:08] greg7mdp commented on #20
Thanks for sharing the test data, I can reproduce the issue.
As you suspected, the problem is that the keys are not well distributed, and the std::hash() function from g++ does not help.
However, with a small change in your test program (overriding the default hash function), I was able to fix the issue:

[code]

Here is the modified code:

[code]

[2017-01-01 00:15] greg7mdp commented on #20
I'll add a fix in sparsepp to address the issue, so that the problem does not occur even when using std::hash.

[2017-01-01 18:19] greg7mdp commented on #20
Actually, I did not change the default in sparsepp to use integer keys unchanged, as this is used in some benchmarks and doing the right thing (scrambling integer keys by multiplying with a prime number) penalizes us in benchmarks. However I have added a section on the README showing how to override the hash function for integers.

[2017-01-01 18:33] greg7mdp commented on #17
@kmohanram, for your hash function, can you try the following:

[code]

[2017-01-01 19:14] vspinu commented on #20
Great! AFAIC the issue is fixed. Thank you very much for the solution and for the great package!

[2017-01-01 20:32] greg7mdp commented on #20
Thanks!

[2017-01-01 20:32] #20 closed

[2017-01-01 21:13] kmohanram commented on #17
well, this hash function (with reserve still in place) is a drag to the extent of 40% on the STL implementation. and sparsepp seems to drag by a further 10% over the STL implementation at first blush. reserve is still on btw.

[2017-01-02 00:53] kmohanram commented on #17
i just think my hash function is -- serendipitously, i must ack again -- way too good for my application. i recall trying other prime-based hashing approaches when i used an array instead of a hash_map to store my entries and nothing came even close, unfortunately/fortunately. btw, do you have any suggestions as to how i can capture a meaningful subset of map-related ops (inserts/lookups) within m

[2017-01-02 02:30] greg7mdp commented on #17
@kmohanram, please open a separate issue so we don't hijack this one.

From what you are writing, it looks like the hash is indeed not the issue.

What you could do is dump the inserts/lookups into a binary file, to be replayed later with a program like the one in issue #20 (closed now). If you do that I'll be happy to see if I find a problem, however the fact that there is not big difference betw

[2017-01-03 20:34] dratchkov opened #21 "Performance issue"
Hi,

Seeing performance issue with finds for hash map <int, int> when inserting keys in order, either ascending or descending:

Testing sparse map
2000000 random inserts in 1 seconds
2000000 random finds in 0 seconds
2000000 random not-finds in 0 seconds
2000000 sequential inserts in 0 seconds
2000000 sequential finds in 0 seconds
2000000 random not-finds in 19 seconds
2000000 negative sequential

[2017-01-03 20:36] dratchkov commented on #17
@greg7mdp @kmohanram I just opened #21, I wonder if this is related to the issue seen here.

[2017-01-04 00:22] kmohanram commented on #21
unless i am misreading your code, you are inserting random keys with random hashes (assuming pass-through std::hash<int>), no? in my app, the hashes of the keys are in near-ascending order, i.e., i insert pairs of the form (a1,b1), (a2,b2), ... such that hash(a1) is 1, hash(a2) is 2, and so on ... (well, not exactly 1, 2, 3, ..., but pretty close). but still, i think that your test is very close t

[2017-01-04 02:12] dratchkov commented on #21
@kmohanram Yes, sounds the same issue. This test does 3 passes - random numbers, ascending and descending. within each pass, it tests insertion, search-and-find and search-and-not-find (searching for non-existing keys). And that is where I see the runtime issue - very slow not-finds when the order is ascending/descending.

[2017-01-04 02:22] greg7mdp commented on #21
@dratchkov Thanks for the test program. I'll look into it.

[2017-01-04 19:15] legendre6891 opened #22 "Trivial compiler warnings"
Compiling with -Wall and -Wdouble-promotion on gcc 6.1 yields the following trivial warnings:

[code]

It is obviously inconsequential, but maybe worth fixing just to get clean compile time messages.

[2017-01-06 02:31] greg7mdp commented on #21
@dratchkov - glad you reported this. I found the issue, and I'll fix it in sparsepp.

When passing through sequential keys through the hash unchanged (as is currently the case), the entries in the hash table are all contiguous so when looking up a non-existent key it takes a long time to find an empty spot.

To workaround the issue for now, you can replace:

`spp::sparse_hash_map<int, int> s;`

wi

[2017-01-06 20:02] dratchkov commented on #21
This worked, to the extent random and sequential inserts are now similar. But only now it gets similar to slightly worse results that Google's sparse_hash. dense_hash_map continues to dominate by far, in fact, it is actually faster than vector on insert :-)

Below result for 50M elements, with the same Hasher32.

Testing Google dense map
50000000 random inserts in 5 seconds
50000000 random finds i

[2017-01-06 20:17] dratchkov commented on #21
Testing STL unordered_map
50000000 random inserts in 27 seconds
50000000 random finds in 8 seconds
50000000 random not-finds in 9 seconds
50000000 sequential inserts in 6 seconds
50000000 sequential finds in 2 seconds
50000000 random not-finds in 12 seconds
50000000 negative sequential inserts in 6 seconds
50000000 negative sequential finds in 3 seconds
50000000 random not-finds in 19 seconds

[2017-01-06 20:18] greg7mdp commented on #21
Can you try sparsepp again, but with defining:

`#define SPP_NO_MIX`

before including sparsepp.h.

The vector insert should be faster than dense_hash_map. Did you reserve the space and use `vec[i] = value;`.

[2017-01-06 20:30] greg7mdp commented on #21
I'll look into the differences. Please note that time() returns clock time and not a reliable way to measure performance.

[2017-01-08 19:06] greg7mdp commented on #21
@dratchkov , I don't seem to get the same results as you do. Testing with Hasher32 in all cases, and after updating the test program to measure CPU time and not elapsed time, here is what I see:

[code]

[2017-01-08 23:29] greg7mdp commented on #21
@dratchkov , I have updated the sparsepp default hash to add some key mixing. This solves the pathological case you exposed, where the keys are sequential and we are looking for non-existent keys. It also solves issue #17 reported by @kmohanram.

For both these cases, it is not necessary anymore to provide a custom hashing function, the default sparsepp hash works fine.

[2017-01-08 23:29] #21 closed

[2017-01-08 23:31] greg7mdp commented on #20
@vspinu,  I have updated the sparsepp default hash to add some key mixing. This solves the issue you exposed, where the keys are not well distributed. If you get the latest version,  it is not necessary anymore to provide a custom hashing function, the default sparsepp hash works fine.

[2017-01-08 23:36] #22 closed

[2017-01-12 07:59] sagaceilo opened #24 "c++11 range for and non copyable."
Hello !

I've noticed some problems when adopting Your sparsepp. Mostly they occur when dealing with objects that are non copyable (they copy constructor and assign operator are deleted).

Lets say we have:
[code]

There is simple loop through references to all items in hash map. sparsepp wants to do this:

[code]

So it unrolls to simple assign operator `*p = (*(reinterpret_cast<const_mutable_poi

[2017-01-12 14:02] greg7mdp commented on #24
@sagaceilo, thank you very much for the report. I'll look into it asap, maybe over the week-end. Would you have a small sample that reproduces the issue? Also what happens, is it a build issue? Also are you using the latest version, I added support for non-copyable objects a couple weeks ago.

[2017-01-13 07:58] sagaceilo commented on #24
Hey!
Here is example:

[code]
[code]

I've tried cut as many non revelant code I've could. Hope that You will find this helpful. It runs and compiles using std::unordered_map.

[2017-01-16 04:25] stfairy opened #25 "sparse_hash_set seems slower and consumes more memory than Google sparsehash"
My test code is as follows.

[code]

[code]

Sparsepp results:
[code]

Google Sparsehash results:
[code]

From the System Monitor and with the while loop uncommented, I was also able to find out the memory usage to be 1.6GB for Sparsepp and 911.8MB for Google Sparsehash.

[2017-01-16 16:49] greg7mdp2 commented on #25
Yes, your findings are correct, however:
1. your test program uses a very specific sequence of keys (all consecutive integers)
2. Google sparsehash just uses the integer key as the hash value (pass-through hashing)

This makes the insertion very fast, as there are no collisions. However, it makes finding that a key is not present in the set extremely slow. For that reason, I have chosen to not use

[2017-01-16 17:03] greg7mdp commented on #25
I don't advise to use pass-through hashing, but it can easily be done with sparsepp as well. For example define:

[code]

and your set as: `spp::sparse_hash_set<int, Hash32> s;`

You will see that the insertion is now faster than with Google's sparse_hash_set, and that the memory usage is reduced to ~1.2GB, still a little bit more than Google's version.

However the lookup of non-present keys will

[2017-01-16 17:22] greg7mdp commented on #25
Closing the issue, please reopen is you still have some questions.

[2017-01-16 17:22] #25 closed

[2017-01-16 17:26] jhetherly opened #26 "Doesn't compile on Mac using clang and C++03"
First of all, thank you for writing an outstanding implementation of a hash table. It really saved my bacon ;)

I have one small problem that I was able to easily work around, but wanted to recommend a fix in case anyone else sees the same issue.

I originally tried compiling this using clang on my Mac without C++11. This failed because clang defines similar macros to gcc and this confuses the pre

[2017-01-16 18:57] greg7mdp commented on #26
Glad you like it, and thank you very much for the suggestion, I just implemented it.

[2017-01-16 18:57] #26 closed

[2017-01-16 22:05] greg7mdp commented on #24
Thank you @sagaceilo , your sample program is very useful. Somehow, using my versions of gcc and clang (4.8.3 and 3.8 on linux), your sample as-is does not compile even when using std::unordered_map, because of the insert with the initializer_list.

However, it does build with a simple change, replacing:
`probes.insert( { 0, Probe() } );`
with:
`probes.insert( THashMap<uint64_t, Probe>::value_type

[2017-01-17 11:31] sagaceilo commented on #24
Now it works like a charm :) Thank you ;)

[2017-01-17 13:31] greg7mdp commented on #24
Great, thanks for letting me know, closing the issue.

[2017-01-17 13:31] #24 closed

[2017-01-18 12:49] greg7mdp commented on #18
I tried all three tools (astyle / clang-format / uncrustify) and I could not find one I was 100% happy with. In the end I mostly applied astyle's suggestions, but not every change. I used the following for astyle config:
[code]

[2017-01-18 12:49] #18 closed

[2017-02-03 19:46] indigox4 opened #28 "Ordering with hash collisions"
Hello,

Just curious, if I insert multiple elements into a sparse_hash_set that hash to the same value, is there some specific ordering the elements will take if I iterate over all of the items using
[code]

Is there any way I can specify that ordering? (with a custom less-than function or something?)

[2017-02-03 22:08] greg7mdp commented on #28
Hi Stephen,

Well, there is a specific ordering, but nothing that can be relied upon or overridden. The collisions are resolved in sparsepp with an open addressing scheme ([Quadratic Probing](https://en.wikipedia.org/wiki/Quadratic_probing)), so entries with the same hash value will be spread out over the sparse table.

When iterating over the set, entries with the same hash value will not even be

[2017-02-03 22:41] indigox4 commented on #28
Ok, makes sense, thanks Greg!

[2017-02-03 22:41] #28 closed

[2017-02-04 17:35] zelda007 opened #29 "Is there statistics for collisions ?"
Hi,

This project looks very nice :)
But I would like to know how can I show the **total number of collisions** of the sparse_hash_set/map (and maybe the number of collisions per buckets) ?

I saw the function _bucket_size(size_t i)_ does not return the number of elements in the bucket i but 0 or 1... So I cannot iterate through all buckets and call bucket_size() function to get the number of coll

[2017-02-04 17:37] zelda007 opened #30 "Bug in macro SPP_HASH_MIX"
Hi again,

There is a minor bug in the description page. In order to enable hash mix, the macro is not SPP_HASH_MIX but SPP_MIX_HASH (according to the code in sparsepp.h file).

Otherwise, great job !

[2017-02-04 18:24] greg7mdp commented on #29
Hi,

Thanks for the kind words.

Sparsepp uses open addressing (with this method a hash collision is resolved by probing, or searching through alternate locations in the array (the probe sequence) until either the target record is found, or an unused array slot is found, which indicates that there is no such key in the table).

Unlike the chaining method used by std::unordered_map, the collisions

[2017-02-04 18:27] greg7mdp commented on #30
Thanks @zelda007 , fixed!

[2017-02-04 18:27] #30 closed

[2017-02-04 19:13] zelda007 commented on #29
If I use only insert() and count() operations in my sparse_hash_set (I do not use map), does `num_probes` will report the total number of collisions ?
How can I get this value without producing bad code inside yours ?

[2017-02-04 19:50] greg7mdp commented on #29
Hi @zelda007,

Thanks for the questions. I have added a paragraph about thread safety at the end of the README.md.

Why are you concerned with the number of collisions. Is there any specific reason? An easy way to diminish the number of collisions if to call reserve() to preallocate the correct table size, if you know in advance how many unique entries will be inserted.

Currently, the sparse_hash

[2017-02-04 20:33] zelda007 commented on #29
Yes, I work on an IA project and I need a very powerful hash table, i.e fast insert and reading and low memory storage. That is why I am currently tested your sparse_hash_set container.
I don't know how many entries will be stored inside the hash table, so I just call reserve() with an approximate number of entries.

Basically, the algorithm searchs in a tree of nodes the best path and I need a ha

[2017-02-05 04:55] dselivanov opened #31 "Performance degradation with latest changes"
Hi @greg7mdp. Yesterday I noticed that my R package which uses `sparsepp` became super-slow. First I thought it is due to some my changes. But after more investigation I found that it is related to `sparsepp`, because it works fast when I use old version (1.5x faster that `std::unordered_map` as I reported in feedback) - https://github.com/greg7mdp/sparsepp/tree/0fb17374eb761e31c9256bce3a63e513e84

[2017-02-05 14:05] greg7mdp commented on #31
Hi @dselivanov,

Sorry about the issue. I need to keep a file listing the changes in sparsepp and the possible issues.

The performance degradation you see is because your hash function is creating a lot of collisions in sparsepp. This is because the sparsepp internal array is always sized to a power of two, so when taking the modulo, only the low order bits of the hash value are retained, so in y

[2017-02-05 15:07] dselivanov commented on #31
Thanks, I adjusted hash function. Seems work fine. I will perform additional tests on bigger data and report back here.

[2017-02-05 17:49] dselivanov commented on #31
@greg7mdp unfortunately this didn't help on larger data from my benchmarks:

1. With `unordered_map` test took **39** seconds
1. With https://github.com/greg7mdp/sparsepp/tree/0fb17374eb761e31c9256bce3a63e513e846d0bc version and my old hash function (`return (uint64_t) k.first << 32 | k.second;`) it took **26.5** seconds
1. With https://github.com/greg7mdp/sparsepp/tree/48fc88160011dff87030f992d7c

[2017-02-05 17:59] greg7mdp commented on #31
@dselivanov, can you try using the recent sparsepp, your old hash function, and defining SPP_MIX_HASH
either on the compiler command line or before including sparsepp.h?

Is that does not help, I can provide the code to have the same hash result as the previous version.

[2017-02-05 18:05] greg7mdp commented on #31
@dselivanov, in case the SPP_MIX_HASH above does not help:

Using the recent version of sparsepp, and **no** preprocessor macro, the following hash function should restore the behavior of the older sparsepp.

[code]

[2017-02-05 18:25] dselivanov commented on #31
`SPP_MIX_HASH ` mixing helped - 26 seconds now.
So I just add `SPP_MIX_HASH` before including `sparsepp.h`
[code]
Thank you very much for help. Closing...

[2017-02-05 18:25] #31 closed

[2017-02-12 01:34] mlmsft commented on #19
Hi and thanks for sharing the code,

I wonder if there has been any progress on this:

Thanks

Michael

[2017-02-12 04:00] greg7mdp commented on #19
Working on it. Sorry it is taking longer than I had forecast, there are lots of little details to get right. The allocator is working great. I'm now integrating it with sparsepp but that probably will still take a couple weeks.

[2017-02-12 16:39] greg7mdp commented on #19
@mlmsft , Just curious, are you using sparsepp already or is this for a future project?

[2017-02-12 18:27] mlmsft commented on #19
We are experimenting with it as an alternative to unordered_map, which is a true memory hog. At the moment, we are observing about 20% improvement due to sparsepp, which is already good, but a bit behind original expectations.  So,we are looking forward to see sparsepp Windows performance catching up with the Linux version. Incidentally, sparsepp is somewhat difficult to debug in VS, but it will b

[2017-02-12 19:17] greg7mdp commented on #19
Great, I think you'll be very pleased with the memory usage with the custom allocator. Why do you say it is difficult to debug in VS? Is it because the code is somewhat cryptic and hard to follow, or is there a specific issue? I myself debug it in VS all the time.

[2017-02-12 23:22] mlmsft commented on #19
The issue with debugging I was talking about is how VS displays hash contents.
Attached is a snapshot showing contents of unordered_map and , below it, sparsepp:
![image](https://cloud.githubusercontent.com/assets/25714931/22867128/a2f2f1f4-f136-11e6-8640-0117fac1932b.png)
In the first case, we see an associative array, in the second case, the view is a bit cryptic.

[2017-02-12 23:42] greg7mdp commented on #19
Oh, thanks for explaining the issue, clearly this is not helpful at all. I'll look into creating a [natvis](https://msdn.microsoft.com/en-us/library/jj620914.aspx) file, so that the debugger can display sparsepp objects in a more useful fashion. Hopefully it wont be too difficult.

[2017-02-13 01:06] mlmsft commented on #19
Terrific. Looking forward to seeing all those changes in the library.
Thanks for being so responsive!

Michael

[2017-02-14 01:24] greg7mdp commented on #19
Hi Michael,

I just added a spp.natvis file which allows user-friendly visualization of sparse_hash_map/set. I Have tested it with Visual Studio 2015, but it may work for 2012/2013.
- just copy the spp.natvis file to %VSINSTALLDIR%\Common7\Packages\Debugger\Visualizers (requires admin access)
- or to My Documents\Visual Studio 2015\Visualizers\
- or just add the file to your project

[2017-02-14 03:44] mlmsft commented on #19
Yes, visualization works exactly like the built-in implementation now. It might be a small addition, but probably very helpful for VS developers using your library.
I have VS 2015, just like you do, so I can only confirm that it works there.
Thank you!

Michael

[2017-02-14 13:49] greg7mdp commented on #19
You are welcome!

[2017-02-21 00:45] greg7mdp commented on #21
@dratchkov, just to keep you upated, I have disabled the default key mixing in sparsepp, however yoy can enable it by defining SPP_MIX_HASH before including sparsepp.h.

[2017-03-20 08:50] zelda007 commented on #29
Hi greg7mdp,
Do you plan to implement a memory bound hash table like described above ?
My IA project is almost finished and I would like to test your sparse hashtable in real time.
Thanks

[2017-03-20 12:24] greg7mdp commented on #29
Hi @zelda007, I don't plan on adding something like that. It is a very specific use, that would add an overhead in the hash table itself, but would be useful for very few people, Also, I am not 100% convinced that it is really needed, because I still don't understand why the hash table itself need to implement this, when you could easily check the size yourself?

[2017-04-08 11:47] Elypson commented on #17
Hi Greg!
I love your hash map and use it in my research where I have hundreds of millions and sometimes billions of entries with hundreds of thousands of accesses per second. Your map turns out to be the fastest among the ones I have tested and I am very pleased with it. Thanks for this!

[2017-04-08 12:15] greg7mdp commented on #17
Wow, thanks @Elypson, really glad you like sparsepp. It is good to know that people out there use it and appreciate it.

[2017-04-11 01:54] chondl commented on #17
I'm looking forward to using this in our application to reduce memory usage. Currently we are using STL unordered_map in an application compiled with Emscripten to run in the browser. Happy to report that the library worked as advertised as a drop-in replacement and our automated test suite found no bugs after the change.

Two questions:

- Is there an implementation of unordered_multimap with sim

[2017-04-11 12:19] greg7mdp commented on #17
@chondl , thanks for the feedback.

* I'm sorry there is not an implementation of unordered_multimap in sparsepp. I will put it on my todo list,
but I don't expect to have it soon.
* There is currently no API returning the map memory usage. I could add one, however it would return only the memory actually allocated by the map, and would not take into account the malloc() overhead. But probably tha

[2017-04-11 14:14] chondl commented on #17
No worries about unordered_multimap, we'll figure something out. Glad to have the space and time efficient hash. Even having a total memory allocated outside of malloc would be helpfuls.

[2017-04-11 14:34] iifuzz opened #32 "Compiler warning"
sparsepp-master\sparsepp/spp_utils.h(356): warning C4146: unary minus operator applied to unsigned type, result still unsigned

[2017-04-16 02:13] #29 closed

[2017-04-16 14:16] #32 closed

[2017-04-29 17:31] mlmsft commented on #19
Hi Greg,

Any updates on memory allocator for Windows?

Thanks

Michael

[2017-04-29 17:40] greg7mdp commented on #19
I am still working on the memory allocator. One thing you could try is to download the file "malloc.c" from http://g.oswego.edu/dl/html/malloc.html, and just add it to your project. It is the excellent allocator by Doug Lea. I would be very curious to hear jow it impacts the memory usage of your app.

[2017-05-06 21:56] sam0x17 opened #33 "how to do std-style contains?"
I need to check if an `spp::sparse_hash_map` contains a particular key. Following the usual logic I would do with `std::unordered_map<T, T>`, it would be something like this:

[code]

However I am getting a super long error saying that the types for `got` and `map::end()` are incompatible. I tried a number of variations of this and always get the same error. I suspect this has something to do with

[2017-05-06 21:58] sam0x17 commented on #33
P.S. would LOVE it if there was a `bool contains(T key)` method built into all the sparsepp classes. It's annoying as hell that `std::` doesn't offer this.

[2017-05-06 23:10] greg7mdp commented on #33
Hi Sam,

I just tried it and it seems to work fine. Here is my code:
[code]

and the output:

[code]

Could you post a full sample program that doesn't compile?

Thanks,

greg

[2017-05-06 23:15] greg7mdp commented on #33
Also, what compiler are you using?

[2017-05-06 23:28] greg7mdp commented on #33
Sam, I just added `bool contains(const T& key) const;` just for you.

[2017-05-07 02:21] sam0x17 commented on #33
Hey thanks a bunch -- I use `g++ (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609`

[2017-05-07 03:36] greg7mdp commented on #33
Oh, I see the typo. You wrote `map::end()` instead of `map.end()`.

[2017-05-07 04:45] sam0x17 commented on #33
omg thanks!

[2017-05-07 12:23] #33 closed

[2017-05-16 13:33] AVJoKe commented on #17
I would second the request for a unordered_multimap replacement, since some nested solutions won't work for me (like <key,std::vector<value>>). Nevertheless I implemented your sparse_hash_map where it was feasible and could see great performance improvements compared to STL. Keep up the good work!

[2017-05-18 05:10] sam0x17 opened #35 "A way to configure default capacity"
This is one thing I would like to set, maybe in the constructor. I assume it already defaults to 0 capacity until there are elements, but I also want the ability to configure the initial size once there are elements.

[2017-05-18 13:20] greg7mdp commented on #35
You can set an initial size with the first parameter of the constructor. For example:

```spp::sparse_hash_set<int> myset(100000);```

Is that what you were looking for?

[2017-05-18 22:14] greg7mdp commented on #17
@chondl , @AVJoKe , I looked into implementing the unordered_multimap, and unfortunately I don't think it will be possible to implement efficiently. One issue is that the equal_range() method needs to return two iterators allowing to iterate elements with the same key.

Because sparsepp uses open addressing and not chaining, it would be difficult to implement something that doesn't have an additio

[2017-05-19 08:13] sam0x17 commented on #35
yup -- thanks!

[2017-05-19 08:13] #35 closed

[2017-06-05 02:39] greg7mdp commented on #19
@mlmsft , just checked in the version with the new allocator. It is used by default on Windows.Give it a try and let me know what you think!

[2017-06-05 11:14] samedsaka commented on #17
hi @greg7mdp,
i would like to thank you for sparsepp. i am using it for my research where i have hundreds of millions genomic entries.
I need some advice about searching in sparse_hash_map. Is there any efficent way for searching in serialized hash map?

[2017-06-05 11:35] greg7mdp commented on #17
@samedsaka , thank you, I'm glad you like sparsepp!
About your question, are you asking about doing a search on the serialized file on disk, without loading it into memory? If that is the question, I'm afraid I don't think it would be easy, the serialization format is not designed for lookup, but only for doing a save/restore of the hash map on disk.

[2017-06-06 20:21] mlmsft commented on #19
Hi Greg,
Thanks for checking in the update. I didn't get to see its performance yet, mostly due to compilation issues. Few things that caught my (and Visual Studio's) attention:
1. You have
    #define DEBUG 0
 in spp_dlalloc.h which is likely to collide with preprocessor definitions, especially because many people use #ifdef to see if they are in debug mode. Maybe give the macro a different name?

[2017-06-06 20:47] greg7mdp commented on #19
Michael, thank you for the quick feedback!
1. yes, I'll fix the DEBUG.
2. I'll also check the non-static functions... they should be static. I believe they are defined in the "spp" namespace.
3. natvis for iterators => will do

[2017-06-06 22:12] greg7mdp commented on #19
Hi @mlmsft , I just checked in a fix for the first two issues. Hopefully it will build for you now.

[2017-06-07 01:22] mlmsft commented on #19
Hi Greg,

Any way to contact you directly? I think the new version has a few problems.

Thanks

Michael

[2017-06-07 01:38] greg7mdp commented on #19
Sure, Michael, you want to call me right now? 989-723-9545

I have about 15 minutes before I have to go (at 9:55pm eastern)

Otherwise we can talk tomorrow.

greg

  _____

From: mlmsft [mailto:notifications@github.com]
Sent: Tuesday, June 06, 2017 9:22 PM
To: greg7mdp/sparsepp
Cc: Gregory Popovitch; State change
Subject: Re: [greg7mdp/sparsepp] Possible iterator bug? (#19)

Hi Greg,

Any way to c

[2017-06-13 20:02] meox opened #36 "shrink to fit"
Is there somenthing like shrink_to_fit like we have for std::vector?
I tried to use **clear** and **reserve(0)** but the memory is not released.

Thanks

[2017-06-13 22:01] greg7mdp commented on #36
clear() definitely releases the memory. Depending on the platform you are using (Windows?), you may not notice that the memory has been freed, but it has. For example if, after calling clear(), you create a second hash table with the same elements, the memory usage should not increase.

[2017-06-14 07:36] meox commented on #36
I'm using Linux and Solaris.
The behaviour, respect to memory management, is very similar to `std::unordered_map`:
seems that the memory is not released to OS after a clear. This is correct in many scenarios but there are some cases that could be usefull to clear and release all the memory back to OS.

[2017-06-14 11:26] Bu11etmagnet commented on #36
No C++ standard library class or function returns memory "back to the OS". The best C++ classes/methods can do is call delete (which is likely to call free), releasing memory back to the dynamic memory allocator. Whether the dynamic memory allocator releases the memory back to the OS is an implementation detail, not visible from C++.

[2017-06-14 12:43] meox commented on #36
ok thanks for this clarification

[2017-06-14 12:43] #36 closed

[2017-07-04 22:44] jackstockdale commented on #17
Hi - just a quick note to thank you for sparsepp. We now use it extensively in place of google’s sparse_hash_map and various unordered_maps after significant testing showed numerous real world performance gains across a set of highish memory (200GB or more) applications. No issues or other feedback, but thanks!

[2017-07-04 22:49] greg7mdp commented on #17
@jackstockdale, thank you so much for the feedback! I am really glad people use sparsepp... sometimes it is hard to tell. I very much appreciate you taking the time to let me know.

[2017-08-09 10:21] N1cotin opened #37 "Compute memory usage"
Hello,

is there a way (it doesn't matter how fast) to compute the exact memory usage of one hashmap?
I did some experiments with the internal allocator but could not get a realistic result.

Thank you

[2017-08-10 00:10] greg7mdp commented on #37
It would be possible to compute the number of bytes allocated by malloc, but this would not provide an accurate memory usage, because malloc has its own overhead and there can be overhead because we reallocate buffers.

My recommendation would be to use spp::GetProcessMemoryUsed() - in sparsepp/spp_memory.h -before and after building the hash map.

Another method for an accurate measurement would

[2017-08-14 08:06] #37 closed

[2017-09-07 18:43] toddlipcon opened #38 "_group_alloc should be constructed from passed-in allocator"
In sparsetable's constructor, it default-constructs the _group_alloc member. However, in some cases the passed-in allocator may have some state which needs to be captured into the group allocator. Thus _group_alloc should be constructed with 'alloc' as the argument.

[2017-09-16 23:14] greg7mdp commented on #38
Fixed with merged pulled request.

[2017-09-16 23:14] #38 closed

[2017-10-06 19:53] brenoguim opened #41 "Support for search with compatible key types"
First of all, congrats on this awesome hash map :) It's far better than others that I've tried.

One thing that I implemented locally is the ability to search on the sparse_hash_set, using a different key. Of course, you have to also pass in a compatible hash functor and comparison hash functor.

This is the original code in the use case:

[code]
So, instead of having a map of Id to Car, I could j

[2017-10-06 21:22] greg7mdp commented on #41
Could you instead do something like this:

[code]

[2017-10-07 02:51] brenoguim commented on #41
Yeah, I hoped I could do something like that. But in my application, the object itself is quite large, so creating one Car just to query for a car is a prohibitive cost. Actually, I don't think I even have access to the constructor.

I get those cars from external library.

By the way, this API is not my idea. If it helps, this comes from boost::unordered_set:

http://www.boost.org/doc/libs/1_63_0

[2017-10-07 02:55] greg7mdp commented on #41
Thanks for explaining. I'll be happy to integrate a pull request for the missing functionality, esp. it it follows a pattern already existing in boost::unordered_set.

[2017-10-08 20:24] brenoguim commented on #41
Cool. I never contributed via github, but I'll give it a try. The code is simple, but I gotta know the test framework a bit better first.

[2017-10-08 20:47] greg7mdp commented on #41
This new library (https://github.com/Tessil/sparse-map) seems to accept any type that the "hash" and "equal" functors accept (see "Heterogeneous lookups" at the end of the README). Could you implement something similar?

[2017-10-11 21:26] brenoguim opened #42 "Data race with aggressive and moderate configuration for SPP_ALLOC_SZ"
So, I started using this hash map, and a few days after I pushed the code, random crashes started happening on our tests.

Apparently, there is a data race inside the function:
[code]
s_alloc_batch_sz can be accessed from multiple threads.
Helgrind immediately complains about using different maps in different threads, so it's not hard to reproduce.

For my code, I changed the flag to SPP_ALLOC_SZ

[2017-10-11 23:42] greg7mdp commented on #42
You are right, there is an issue here. My apologies. I think the fix is pretty simple (no extra storage), just change:

`if (!s_alloc_batch_sz[0])`
to
`if (!s_alloc_batch_sz[SPP_GROUP_SIZE - 1])`

If you confirm the fix, I can push it.

Thank you for the report, much appreciated!

[2017-10-11 23:55] greg7mdp commented on #42
Actually I felt pretty confident about the fix, so I just pushed it.

[2017-10-11 23:57] brenoguim commented on #42
I fail to see how that would fix the problem. The static storage will still be written and read from multiple threads at the same time, right?

This is the code I'm using to test it:
[code]
If you compile this code, and run it with helgrind: `valgrind --tool=helgrind ./main`

You get the following output:
[code]

Where in my code, spp.h:1088 and spp.h:1103 are (with the suggested edit):
[code]

[2017-10-12 00:21] greg7mdp commented on #42
right, but they would write the exact same thing, so it shouldn't matter.

I believe that the issue was that the static array could be partially written, when the second thread would test the first element and thought it was ready to use.

By testing the last element, if it is non-zero, that means that the array is fully initialized.
Indeed it is possible that two threads will initialize it at the

[2017-10-12 00:43] brenoguim commented on #42
Ah, I didn't look carefully at the code. I didn't realize it was just about initialization.
Still, the way the code is now, it's considered UB, so I would be reluctant to use it.

Here is a suggestion of how to do thread-safe static initialization (as of C++11):

[code]
That also makes it a bit clearer that this whole code is just for static initialization.

On the other hand, Helgrind disappointe

[2017-10-12 00:47] brenoguim commented on #42
But I must say, for that to work, there is probably an atomic flag check somewhere in there, for every call, to make sure the code is initialized.

The best way would be to make this all constexpr, but I'm not sure about how many compilers would support that.

[2017-10-12 03:08] greg7mdp commented on #42
Thanks for looking into this. I do believe that the code with my change is fine, but your version with the struct is better and clearer. Do you want to submit a pull request?
By the way, I don't know what "is considered UB" mean?

[2017-10-12 04:32] anchpop commented on #42
UB = Undefined Behavior

On Wed, Oct 11, 2017 at 11:08 PM Gregory Popovitch <notifications@github.com>
wrote:

[2017-10-12 12:01] brenoguim commented on #42
The solution only works if the compiler writes the code you expect in the order you expect.
The compiler is free to reorder code as long as the observable output is the same.

Though personally I don't believe it would go that far, it's perfectly possible for the compiler to unroll that for loop and reorder statements at will. So, in theory, it could initialize the last position first and walk bac

[2017-10-12 12:15] greg7mdp commented on #42
Perfect, have fun at the beach, I'll wait for your pull request next week.
Thanks for the explanation of the undefined behavior!

Please use the macro SPP_CONSTEXPR (defined in spp_util.h) which expands to constexpr on compilers that support it.

[2017-10-13 00:56] brenoguim commented on #42
constexpr keyword was introduced in C++11 but its applicability was expanded in C++14. For this use, it only works with C++14. Do you know if there is a macro to differentiate that?

[2017-10-13 01:26] greg7mdp commented on #42
What does it matter? constexpr will be present for the compilers who support the keyword. Whether the code is generated at compile time or when statics are initialized will depend on the compiler, but omitting constexpr when the code is not generated at compile time would not help (or am I missing something?).

[2017-10-13 11:14] brenoguim commented on #42
It's just that on C++11, `constexpr` is supported for simple functions while adding it to a class constructor is an error: https://godbolt.org/g/DSPSCC

[2017-10-13 12:35] greg7mdp commented on #42
Oh, I see. We could probably define a macro for the various compilers to check that support, but I don't think it is worthwhile in this case. We are talking about just initializing 32 bytes, and it won't make a difference if it is done at compilation time.

[2017-10-13 19:41] brenoguim commented on #42
It could make a difference because if done in compile time, the compiler will likely inline this function. If it's not a hot path or something, it won't matter anyway.
Anyway, let's start simple and leave it as a TODO to makei tbetter

[2017-10-13 21:03] greg7mdp commented on #42
Hum, I don't understand why the fact that the static is initialized at compile time or when the program loads would have any effect on inlining. But anyways I'm pretty sure it wouldn't make a difference.

[2017-10-14 00:37] brenoguim commented on #42
Well, when the code is statically initialized, it looks like this:

[code]
So the amount of instructions in that function is probably too large to make it worth inlining.
While, if the values are computed at compile time, the function looks like:

[code]

That one looks like a good candidate for inlining.

[2017-10-14 01:01] brenoguim commented on #42
Nice!

[2017-10-14 01:03] greg7mdp commented on #42
Thanks, I understand now. I didn't know that the compiler generated that inline code in the function to initialize static variables, but now that I think of it of course it makes sense. I also understand why you feel  constexpr would be better.

I just added the definition for `SPP_CXX14_CONSTEXPR` in spp_util.h, which you should be able to use in the constructor.  Let me know if you'd like me to

[2017-10-14 15:10] brenoguim commented on #42
I think I rather do it myself so I can learn the flow for contributing in github :)

[2017-10-14 15:32] greg7mdp commented on #42
Sure, thanks again.

[2017-10-22 15:05] #42 closed

[2017-11-04 20:04] Smattr opened #45 "Reference invalidation on insert"
I'm trying to debug a problem of my own making. In attempting to use sparsepp as a drop-in replacement for `std::unordered_set` in a [model checker](https://en.wikipedia.org/wiki/Model_checking), I ran into some unexpected memory corruption. The code can be distilled to something like the following self-contained reproducer:

[code]

which can be compiled with:

[code]

This runs correctly (produc

[2017-11-04 20:33] greg7mdp commented on #45
Hi, and thanks for the report. The [link](http://en.cppreference.com/w/cpp/container/set/insert) you posted regarding references remaining valid is a link to the std::set documentation (not unordered_set).
The [unordered_set](http://en.cppreference.com/w/cpp/container/unordered_map/insert) documentation states:
`If rehashing occurs due to the insertion, all iterators are invalidated. Otherwise ite

[2017-11-04 22:21] Smattr commented on #45
Thanks for the quick reply! And thanks for the clarifying commit.

[2017-11-04 22:21] #45 closed

[2017-11-21 05:15] kwangswei commented on #17
Great sparsepp!!!
I had to put 6B of 64bit integers to set container for filtering duplicated numbers, it was very fast and stable. Thank you so much. I love it!

[2017-11-21 16:14] OvermindDL1 commented on #17
I'm using sparsepp as kind of like a sparse array in high-performance lookups and it is fantastic, well outperformed the other attempts in a variety of other libraries.  I love it!

[2017-11-21 16:17] greg7mdp commented on #17
Thanks for the feedback @kwangswei and @OvermindDL1, I am delighted you find sparsepp useful!

[2017-12-18 14:38] nathangeorge1 opened #46 "Working with Classes"
Hello,

Great work. How do I make this work with a user-defined class?

Thanks,
Nathan

[2017-12-18 20:28] greg7mdp commented on #46
Thanks! For the user defined class, see hast_std.cc in the examples directory.

[2017-12-19 14:23] nathangeorge1 commented on #46
Thanks for this: https://github.com/greg7mdp/sparsepp/blob/master/examples/hash_std.cc

But instead of creating a new struct, i was interested in mapping 2 previously defined classes. Is there something I could add to the classes to have them work with sparsecpp?

[2017-12-19 14:50] greg7mdp commented on #46
Hum, I'm not sure I understand the question. You can create a sparse_hash_map of two classes of course. You'd have to provide a hash function for the class used as a key, like in the example I sent. What problem are you having?

[2017-12-19 15:00] nathangeorge1 commented on #46
I might not understand C++ enough, but in this part:

![image](https://user-images.githubusercontent.com/2744891/34162857-2abef136-e4a3-11e7-88a2-b96c801faabf.png)
it appears that you're initializing the hash set with strings, but would this example work if you initialized it with the actual `Person`?

I'm interested in doing something like `spp::sparse_hash_map<cv::Point, MyData> map;`

[2017-12-19 15:08] greg7mdp commented on #46
That shouldn't be a problem... go for it :-)

[2017-12-19 15:10] nathangeorge1 commented on #46
cool I'll try it out

[2018-01-02 20:28] nathangeorge1 commented on #46
I tried various things, but I could not get spp::sparse_hash_map to work with classes. Could you show me an example of how to get this to compile?

![image](https://user-images.githubusercontent.com/2744891/34498880-88c2703a-efd1-11e7-8c6a-56ff1cf8cf2d.png)

[2018-01-03 19:51] OvermindDL1 commented on #46
What error did you get?  Did you create a hasher for `cv::Point`?

[2018-01-03 19:57] nathangeorge1 commented on #46
I was not able to create a hasher for `cv::Point` because the hash_std.cc example only works for structs. I tried replacing "struct" with "class" but it just threw a bunch of errors, probably cause I'm not sure what I'm doing.

[2018-01-03 20:03] OvermindDL1 commented on #46
A class is a struct in C++, they just have different default visibility of their fields/methods.

What code did you try and what errors did you get?  The hasher can stay a struct, that's fine, but it is hard to diagnose without actually seeing both your complete executable code and/or the complete errors.  :-)

[2018-01-03 20:23] nathangeorge1 commented on #46
Actually I tried it again and this time I made half progress.

This code compiled and ran:

[code]
with the following output:
![image](https://user-images.githubusercontent.com/2744891/34538340-094abbae-f09a-11e7-9b7f-322b692f2532.png)

But as you can see at the very end, I do not know how to access an individual mapping because the index is a `cv::Point`, and it appears to only take integers and

[2018-01-03 20:28] greg7mdp commented on #46
try std::cout << map[cv::Point(1, 2)] << '\n";

[2018-01-03 20:29] OvermindDL1 commented on #46
Yep this.  Remember, whatever the key is, is what you pass in to get the value back out.

[2018-01-03 20:33] nathangeorge1 commented on #46
thanks @greg7mdp; that worked

Also, how would I attempt to initialize `spp::sparse_hash_map<cv::Point, cv::Point> map` with actual cv::Points instead of inputting the raw values?

[2018-01-03 20:34] greg7mdp commented on #46
just do: map[point1] = point2;

[2018-01-03 21:16] nathangeorge1 commented on #46
Yes that worked for publicly accessible members; thanks.

I spent some time trying to get it working with my own class using private members, and I thought I'd share how I did it if anyone else would like to do it as well.

Here is the code:

[code]

1. Note the use of getters in the hasher.
2. Remember to make the getters [const correct](https://stackoverflow.com/questions/5973427/error-passing-x

[2018-01-03 21:16] #46 closed

[2018-01-03 21:18] OvermindDL1 commented on #46
The proper way would be to make the hasher a friend of the main class, then it could access the private fields.  ^.^

If you can do it via public access though, that is *always* preferred.

[2018-01-03 21:43] greg7mdp commented on #46
Thank you for the help @OvermindDL1, your assistance is greatly appreciated!

[2018-01-03 21:48] greg7mdp commented on #46
@nathangeorge1, I tried to make the example as simple as possible. I assume most users of sparsepp are experienced in C++ and would know what to do when switching to a class, but I definitely could - and will -
 add another example with a class. Thanks for the suggestion.

[2018-01-11 00:30] ZaMaZaN4iK opened #49 "Conan package"
Hello,
Do you know about [Conan](https://github.com/conan-io/conan)?
[Conan](http://docs.conan.io/en/latest/) is modern dependency manager for C++. And will be great if your library will be available via package manager for other developers.

[Here](https://github.com/bincrafters/conan-templates) you can find example, how you can create package for the library.

If you have any questions, just ask

[2018-01-11 01:22] greg7mdp commented on #49
What about you create the package and I'll add it? Would that work for you?

[2018-01-11 16:28] ZaMaZaN4iK commented on #49
i think i can add package for the library to Bincrafters repo.

[2018-01-11 22:07] ZaMaZaN4iK commented on #49
https://github.com/bincrafters/conan-sparsepp/tree/testing/1.1

[2018-01-17 04:45] steven-varga opened #50 "didn't measure difference on stock exchange HFT data stream"
Liked the drop-in replacement feature, and the header only format. Indeed all was needed to copy and define the map.
Used it to hash 8byte stock symbols to incremented integers, where the symbol set was around 6000 with 6e7 - 8e7 even count per day x 5 years.  Profiled the code with gprof and didn't find difference between hash_map, unordered_map, and your implementation.
Either
1) I was doing som

[2018-01-17 12:52] greg7mdp commented on #50
Hi @steven-varga. To help me understand exactly what your use case is, can you post the declaration of the  sparse_hash_map that you used? Thanks!

[2018-01-17 16:13] steven-varga commented on #50
Yes indeed: it is about speed as opposed to footprint.
` spp::sparse_hash_map<std::string, uint64_t> map1;` or ` spp::sparse_hash_map<uint64_t, uint64_t> map2;`
Then I used `auto it = map.find( key ); ` and inserted new ones upon failure.
The profiling showed the code path spends 50% on hash lookups, I tried a quick drop in, and didn't notice difference.

[2018-01-17 17:59] greg7mdp commented on #50
Ah, sparsepp is mostly about footprint, especially when inserting entries and resizing occurs (high water mark). Should be a little bit faster, though!

[2018-01-17 18:19] steven-varga commented on #50
Profiling and runtime attached, done on: gcc (Ubuntu 5.4.0-6ubuntu1~16.04.5) 5.4.0 20160609:  Intel(R) Core(TM) i7-3520M CPU @ 2.90GHz, runtime is near same, slight 1s difference when using std::map
hope it helps!

![spp runtime](https://user-images.githubusercontent.com/10566766/35059213-6eea5656-fb88-11e7-9deb-b1ed1be8826e.png)
![std unordered runtime](https://user-images.githubusercontent.com/1

[2018-01-26 08:49] sagaceilo opened #51 "std::unary_function removed in c++17"
https://github.com/greg7mdp/sparsepp/blob/6bfe3b4bdb364993e612d6bb729d680cf4c77649/sparsepp/spp_utils.h#L198

It seems that unary_function was marked as deprecated in C++11 and removed in C++17 -> http://en.cppreference.com/w/cpp/utility/functional/unary_function. There is a walkaround for that issue mentioned in documentation.

[2018-02-01 06:14] Leandros commented on #51
You can simply provide it yourself:

[code]

[2018-02-01 09:26] sagaceilo commented on #51
Yup, just found the very same thing a few minutes later. Thanks for
response thou 😉

czw., 1 lut 2018, 07:14 użytkownik Arvid Gerstmann <notifications@github.com>
napisał:

[2018-02-05 01:47] brenoguim opened #52 "Move assignment operator not implemented"
Hi,

I noticed when profiling my code I had undesired copies of hash maps. After looking into it, I noticed two things:

1 - Move assignment operator was not implemented. In my code, I did this:
[code]

2 - When implementing 1, my code started to go into stack overflow. Fixed with this:
[code]
So, `operator=` calls `swap`, and apparently `swap` calls `operator=`. That is what caused the stack over

[2018-02-05 04:38] greg7mdp commented on #52
Thank you very much for the report. I'll look into fixing it.

[2018-02-07 01:14] BotoX opened #53 "Can't store mutex inside object"
The following code snippet produces compile-time errors which are way too big to paste:
[code]
Works fine with unordered_map, is this possible with this implementation too?

(also try_emplace from C++17 would be cool)

[2018-02-07 02:03] greg7mdp commented on #52
Checked in your suggestion, @brenoguim, thanks again.

[2018-02-07 02:03] #52 closed

[2018-02-07 02:05] greg7mdp commented on #51
Thanks @Leandros and @sagaceilo, I have replaced the use of std::unary_function with a spp class.

[2018-02-07 02:05] #51 closed

[2018-02-07 02:09] greg7mdp commented on #49
@ZaMaZaN4iK , I have no idea what to do with that? Close the issue?

[2018-02-07 02:14] greg7mdp commented on #50
Hum, I don't know what to say here. The implementation of sparsepp require more copies (or move) of the hash table objects than a regular hash table, so for complex objects which are expensive to copy or move, sparsepp may not be the best alternative.

[2018-02-07 02:14] #50 closed

[2018-02-17 00:00] jmbnyc commented on #17
In an earlier post, someone asked if you have a "memory byte count" API to obtain the number of memory bytes allocated by the map/set. You had said that you were going to add it. Did you? If yes, what is the API call to obtain the memory byte count?

[2018-02-17 15:23] im95able opened #54 "Move semantics"
If you take o pointer to a value inside the hash table and you do an insert, could that insert invalidate that pointer(not the iterator)? Considering every bucket has a vector and every vector is move aware it probably doesn't invalidate the pointer ?

[2018-02-19 10:53] Bu11etmagnet commented on #54
Even if the vector is move-aware, if it has to reallocate, all pointers/iterators/references will be invalidated.

[2018-02-23 20:00] dvysardana opened #55 "C++ 98 support"
Does sparsecpp work with C++98?

Based upon example file hash_std.cc, I created a file called simple.cc in C++98 format and ran it with -std=c++98 option. The code compiles with the following warnings. Is it safe to ignore these warnings?

In file included from simple.cc:3:0:
../sparsepp/spp.h:2315:21: warning: use of C++0x long long integer constant [-Wlong-long]
         if (value < 0xFFFFFFFFUL

[2018-02-23 20:02] greg7mdp commented on #55
Yes, these are fine to ignore.

[2018-02-26 10:54] Bu11etmagnet commented on #55
"long long" support is a common extension in many compilers, even in C++98 mode.

[2018-02-26 12:23] #55 closed

[2018-02-27 16:42] SlowPokeInTexas opened #56 "Any recommendations on implementing disk paging on top of this?"
Greetings, I'm in a position where I will potentially need a structure to store a very large number of hash entries (into the GB). I am investigating sparsepp as a potential candidate with the caveat being I'm interested in adding functionality that will support swapping out pages to disk based on an LRU algorithm. A cursory look at sparsepp docs (I have not thoroughly studied the source) indicate

[2018-02-27 17:00] greg7mdp commented on #56
Yes, there is no partial swapping to disk in sparsepp. In any case that would probably degrade performance a lot. Is there no chance your data would fit into memory in a sparsepp map?

[2018-02-27 17:11] SlowPokeInTexas commented on #56
It might, but there are many cases it won't. It is analyzing disk-sectors for duplicated data, so there will be a lot of hashes.

[2018-02-27 17:40] greg7mdp commented on #56
Have you thought of using a bloom filter in a first pass?

[2018-02-27 19:20] data-man commented on #56
@SlowPokeInTexas
Try [marisa-trie](https://github.com/s-yata/marisa-trie). This library supports a memory-mapped files.
Maybe it's will be useful for you.

[2018-02-27 20:53] SlowPokeInTexas commented on #56
Hi Greg, thank you for your suggestions. I had not considered a bloom filter; I'm looking into it as we speak. As for marisa-trie, that looks pretty interesting. Seems to be geared to strink keys. Thank you for taking the time to make suggestions.
Kindest Regards

[2018-02-27 23:45] data-man commented on #56
@SlowPokeInTexas
I remembered another project: [HArray](https://github.com/Bazist/HArray) (GNU GPL v3.0)

[2018-03-13 09:04] #49 closed

[2018-03-13 09:08] greg7mdp commented on #54
Yes, insert can - and will - invalidate pointers to objects stored inside a sparsepp map or set.If that is not acceptable then sparsepp is not a good candidate for your application.

[2018-03-13 09:08] #54 closed

[2018-03-13 11:25] #56 closed

[2018-03-23 10:22] sirilvk opened #59 "Crashing when used on VS 2015"
Hi, First of all thanks for this wonderful library. I needed an alternative for std::unordered_map for my application running on windows (its extremely low latency one). So by using sparsepp along with the default allocator it ran fine but didn't get any improvement in performance (of course it took a lot less memory). Then after setting the macro for using sparsepp allocator my application crashe

[2018-03-23 12:04] greg7mdp commented on #59
Hi Siril, and thank you for the kind words. It is hard to help with performance issue without some kind of test program, so I could see exactly how you use sparsepp. What I have seen is that in some case the hash function is not optimal. You could try defining SPP_MIX_HASH to see if the performance changes.
[code]
Also you are right the sparsepp allocator could help on windows. Could you provide a

[2018-04-06 06:24] RaguRam9967 opened #60 "error during unserializing a sprasehashmap<string,vector<int>>"
hi i tried to insert values for the map which has string as key and vector of integers as values. after that i dumped the map into the file using,
 FILE *out = fopen("ages.dmp", "wb");
  ages.serialize(FileSerializer(), out);
upto this point everything seems to be fine.
But when i try unserializing it, im getting some error(i think memory issues).
for unserializing i used,
FILE *input = fopen("age

[2018-04-06 12:15] greg7mdp commented on #60
Hi, please provide a small sample of code that reproduces the issue, and I'll look into it.

[2018-04-09 15:42] lczech opened #61 "Compile error in debug mode"
Hi there,

sparsepp works perfectly fine when compiled in release mode (with an amazingly small memory footprint, thanks!), but doesn't compile with my debug setup.

The error message comes from the debug version of my STL implementation:

    /usr/bin/../lib/gcc/x86_64-linux-gnu/4.9/../../../../include/c++/4.9/debug/array:86:52:
    error: too many arguments to function call, expected single argu

[2018-04-21 03:49] srbehera11 commented on #17
Hi Greg, I am using your hash-map in one of my projects and it seems the memory improvement is 2X but I cannot see any time improvement. I am using the following hash-map

`sparse_hash_map<uint64_t, pair<uint8_t, uint32_t>> MAP`

[2018-04-21 16:34] greg7mdp commented on #17
Thanks for the feedback @srbehera11 . sparsepp main claim to fame is its low memory usage, there is no guarantee that you would see a speed improvement. It will depend on what you compare it with (there are different implementations of `unordered_hash` in different C++ library implementations).

It may also depend on the quality of your hash function. You could try `#define SPP_MIX_HASH 1` before

[2018-04-21 16:37] greg7mdp commented on #17
@jmbnyc , it would not be easy to provide this functionality in a meaningful, as it depends on the overhead of the memory allocator used. sparsepp does allocate multiple small buffers, so the memory allocator padding can have a big influence on the amount of memory actually used.

[2018-04-21 16:48] jmbnyc commented on #17
Greg,
Thanks for the response. I would argue that returning what the map allocates regardless of the allocator would be meaningful. Why? Well, IMO it allows one to understand the amount of memory allocated vs the memory to hold an array of the objects contained in the map, e.g. it provides the overhead associated with the map storing the elements at any point in time.

[2018-04-21 16:51] jmbnyc commented on #17
Greg,
One more thing. I observed this from coverity (from sparse_growth_policy.h):

static constexpr bool is_power_of_two(std::size_t value) {
   	1. Condition value != 0, taking false branch.
   	2. overflow: Subtract operation overflows on operands value and 1UL.

CID 10488 (#1 of 1): Overflowed return value (INTEGER_OVERFLOW)
3. overflow_sink: Overflowed or truncated value (or a value computed

[2018-04-21 17:26] greg7mdp commented on #17
@jmbnyc If you want to see what sparsepp allocates, you could provide an allocator to that sparse_hash_map that keeps track of the memory allocated.

about the coverity report, this doesn't look like sparsepp code.

[2018-04-21 17:29] jmbnyc commented on #17
Greg,
Hmm. Let me check.

[2018-04-21 17:35] jmbnyc commented on #17
Greg,
Apologies. This was from a test setup where I was comparing multiple implementations.

[2018-04-21 17:38] greg7mdp commented on #17
Jeffrey, no problem, I really appreciate the feedback and comments.

[2018-04-21 19:04] SlowPokeInTexas commented on #17
Here's what I used to get a handle on memory. I didn't use it for sparsepp,
but I did use it for std::map to get a handle on how much memory each entry
would take. I basically  wrote a small program that allocated one thousand
entries and divided the memory used by 1000. Note for MemTrack to work
everything has to be dynamically allocated, which is easy to do in a sample
program. Anyway, I hope th

[2018-04-23 13:50] kuviman opened #62 "insert and move semantics"
[code]

The assertions fails with `spp::sparse_hash_set`, but works with `std::unordered_set`.

[2018-04-30 17:11] srbehera11 commented on #17
@greg7mdp Thanks for your reply !! I tried `#define SPP_MIX_HASH 1` before including `spp.h`, but it did not make any difference.

I am now using a vector of maps  `vector < sparse_hash_map<uint32_t, uint32_t> > MAP(64)` where the key is a hash value of an element generated by `MurmurHash3_x86_32`. In my program, I need to deallocate the memory of some maps based on conditions. Does `MAP[i].clear(

[2018-04-30 17:52] greg7mdp commented on #17
@srbehera11, `MAP[i].clear();` will not deallocate all the memory. I suggest you do instead:
`sparse_hash_map<uint32_t, uint32_t>().swap(MAP[i])`.

You may want to use a typedef:
[code]

[2018-04-30 19:13] srbehera11 commented on #17
@greg7mdp Thanks !! What exactly `swap()` function does ? Currently, my program takes 2gb for 135m entries.  I just noticed that you mentioned [here](https://github.com/greg7mdp/sparsepp/blob/master/bench.md) to change `#define SPP_ALLOC_SZ 0` to `#define SPP_ALLOC_SZ 1` to increase memory efficiency. I need to change in `spp.h` file, right?

[2018-04-30 19:24] greg7mdp commented on #17
swap() swaps the content ow the two maps, so the one in the vector now is empty as it was replace by a newly created one (and the temporary is destroyed).  You can try `-D SPP_ALLOC_SZ=1` on the compiler command line, no need to change `spp_config.h`.

[2018-05-03 16:43] lczech commented on #61
I did some more digging. The problem is the `-D_GLIBCXX_DEBUG` flag, that is, the checked STL version. When removing this, compilation works. But I'd prefer to keep it.

[2018-05-04 13:48] Bu11etmagnet commented on #61
It would be useful to know what's on line 86 of `/usr/bin/../lib/gcc/x86_64-linux-gnu/4.9/../../../../include/c++/4.9/debug/array`.
Even more useful would be the output of the preprocessor (add `-save-temps` to your flags and look for a .ii file).

[2018-05-04 16:28] lczech commented on #61
Line 86 is already printed in the detail listing of my post ;-)

Here is a bit more context. The problematic line is in the `swap` function of `std::array`. It seems to be the `noexcept` specification that is causing trouble:

[code]

I also got the preprocessor `.ii` file: [chunkify.ii.zip](https://github.com/greg7mdp/sparsepp/files/1975161/chunkify.ii.zip). Unpacked, it is 4MB, because of all th

[2018-05-17 00:23] k3yavi opened #63 "Plan for porting into Rust ?"
Hi, First of all thanks for the awesome tool!
I was wondering is there any efforts being made in porting the tool into Rust ?

[2018-05-17 12:20] sirilvk opened #64 "Poor performance for inserting 100000 entries in sparse hash map compared to std::unordered_map"
Hi,

Just a simple benchmark program (C++) comparing your sparse hash map with unordered_map got me results were unordered_map performed much better. Would like to check with you on this. Is this expected with the latest g++ libraries?

Am running on ubuntu 18.04

$ g++ --version
g++ (Ubuntu 7.3.0-16ubuntu3) 7.3.0
Copyright (C) 2017 Free Software Foundation, Inc.
This is free software; see the sou

[2018-05-17 12:26] greg7mdp commented on #64
Hi Siril, and thanks for the report. Could you run the test again with strings of the same length just for a fair comparison (we may be hitting the small string optimization in the second case).

[2018-05-17 12:31] greg7mdp commented on #63
Hi @k3yavi , thanks for the kind words. It would certainly be an interesting project to port sparsepp to Rust, however I am unaware of any such project. I myself don't know Rust and have little time, so it probably would have to be done by someone else.

[2018-05-17 12:34] greg7mdp commented on #61
What is the definition of your sparsepp map or set?

[2018-05-17 13:10] lczech commented on #61
I'm using

[code]

where `HashFunction::DigestType` is

[code]

Interesting! Because of the abstraction of `DigestType`, I didn't see the connection between my hash key type and the `array` that is causing the compile error. Is this an issue with the STL implementation, after all? Or am I using sparsepp wrongly?

[2018-05-17 13:45] greg7mdp commented on #61
I don't think the issue is in your code. I think it may be an issue with the checked STL, but not 100% sure. Does the issue occur if you use std::unordered_map instead of spp::sparse_hash_map?

[2018-05-17 14:03] lczech commented on #61
No, using a `std::unordered_map` compiles fine with the same debug settings.

By the way, if it helps, the only operations that I am doing with the map are:

[code]
(some variable declarations left out for simplicity)

The line that is causing the compile error is the last one, where a new element is added.

[2018-05-17 15:53] greg7mdp commented on #61
I think that from the checked STL the code you quoted should have a `std::` before the swap() call in the noexcept clause, otherwise it tries to call itsef `swap(array& __other)` which takes a single __other argument

[code]

[2018-05-17 16:17] greg7mdp commented on #64
Also try thie:

`sparse_hash_map<double, std::string, std::hash<double> > shmap(200000);`

now faster than std::unordered_map.

[2018-05-17 16:19] #61 closed

[2018-05-17 21:17] greg7mdp commented on #64
I have improved the hashing for doubles in the latest version of sparsepp. Along with the reserve sparsepp is now faster than std::unordered_map.

[2018-05-17 21:17] #64 closed

[2018-05-17 21:26] greg7mdp commented on #60
closing because no sample provided... feel free to reopen if needed.

[2018-05-17 21:26] #60 closed

[2018-05-18 05:30] k3yavi commented on #63
Thanks @greg7mdp  for super fast reply.
I myself am in early stage of learning rust too, but my current project requires sparse implementation of hash that's why was curious. My effort for porting your tool is going here https://github.com/k3yavi/sparsers.
I am trying to use the [rust-bindgen](https://github.com/rust-lang-nursery/rust-bindgen) but unfortunately it needed one header. I tried older

[2018-05-21 12:00] lczech commented on #61
Short update:

It seems there were two problems involved. One with Clang (http://lists.llvm.org/pipermail/cfe-dev/2018-May/058005.html), and one with the libstdc++ (GCC) STL implementation (http://lists.llvm.org/pipermail/cfe-dev/2018-May/058017.html) - the added `std` however seems not to be the correct solution. The problem was however solved in libstdc++ a while ago, so I probably just need to

[2018-05-21 13:30] greg7mdp commented on #61
@lczech thanks a lot for the update!

[2018-06-19 18:23] l33ds commented on #51
Hey friends, could you please release a new official stable version?
I want to have this fixed so I can use C++ 17, so far just working with `master`

[2018-06-19 20:04] l33ds opened #65 "spp_mix_64 converts uint64_t into size_t"
Hello,
The following code makes that cast:
https://github.com/greg7mdp/sparsepp/blob/master/sparsepp/spp_utils.h#L198
It's not guaranteed that `size_t` can hold 64 bits, and triggers the following warning:
...sparsepp\sparsepp\spp_utils.h(198): warning C4244: 'return': conversion from 'uint64_t' to 'std::size_t', possible loss of data (compiling source file FunctionCallInterface.cpp)

[2018-06-19 21:23] greg7mdp commented on #51
@l33ds, I just did publish a new release. Thanks for using sparsepp.

[2018-06-19 21:44] greg7mdp commented on #65
Fixed the warning, thanks for reporting the issue.

[2018-06-19 21:44] #65 closed

[2018-06-20 02:54] l33ds commented on #51
So responsive and fast! Thank you :)

[2018-06-25 14:57] ftegenfe opened #66 "fails with gcc 8.1.1 -Wall -Werror"
Hello,
if I compile a simple code including sparsepp/spp.h

`#include <iostream>`
`#include "sparsepp/spp.h"`

`int main(int argc, char **argv) {`
`  spp::sparse_hash_map<int,int> spm;`
`  spm.emplace(78,10);  // or spm[78]=10;`
`}`

using gcc 8.1.1

`g++ -Werror -I./src -Wall ttt.cpp`

it generates a warning (not the case with gcc 7.1.1)

`./src/sparsepp/spp.h:1384:19: error: 'void* memcpy(void*,

[2018-08-02 07:15] RaguRam9967 opened #67 "cannot serialize and deserialize map<int,vector<string>> in c++"
when i try to insert values into map<int, vector<string>> and serialize into a .dmp file, there is no error. but when i try to deserialize the .dmp file into a map, it makes some segmentation fault. can you please help me ???

[2018-08-02 07:35] RaguRam9967 commented on #67
This is the sample code for the above mentioned issue.
//headers included....
#include <sparsepp/spp_timer.h>
#include <sparsepp/spp_memory.h>
#include <sparsepp/spp.h>
using spp::sparse_hash_map;
int main()
{
   sparse_hash_map<int, vector<string>> recMap;
   {
       // here im loading some 2 lakh entries into this map
   }

// here serializing age hash_map to "tempMap.dmp" file
   FILE *out = f

[2018-08-02 11:58] greg7mdp commented on #67
Hi there, please provide a full sample reproducing the issue. You can create a gist if you want (at https://gist.github.com/).

[2018-08-02 16:14] greg7mdp commented on #67
You are missing the serialization functions for std::vector. Try adding this in FileSerializer:

[code]

[2018-08-02 16:38] RaguRam9967 commented on #67
Hi @greg7mdp , it is working. thanks a lot for your quick response.

and i have another question, if i want to use map<int , map<string, vector<int>>> what changes should i make ?

[2018-08-02 17:34] #63 closed

[2018-08-02 17:34] #59 closed

[2018-08-02 18:30] greg7mdp commented on #67
I don't see the difference between the two, but I believe the answer is yes it will work for both.

[2018-08-02 19:01] RaguRam9967 commented on #67
okay @greg7mdp, sure. got it. Thanks a lot for your fast response and your valuable time to make this clear.
Thank you once again! you are awesome.  Cheers !!!

[2018-08-02 19:10] greg7mdp commented on #67
You are welcome. Closing the issue but you are welcome to reopen if needed. Thanks.

[2018-08-02 19:10] #67 closed

[2018-08-03 06:53] RaguRam9967 commented on #67
hi @greg7mdp there is some issues when i used that code of yours for
map<int, map<string, vector<int>>>. Check you please check that ????
Thanks.
these are the errors it displayed : (im running in a ubuntu 64bit machine and compiling from terminal)

temp3.cpp:174:25: error: ‘spp_hash’ does not name a type
               class H = spp_hash<K>,
                         ^
temp3.cpp:174:33: error: exp

[2018-08-03 12:02] greg7mdp commented on #67
Did you include the sparsepp headers <sparsepp/spp.h>?

[2018-08-03 12:19] RaguRam9967 commented on #67
yes,i did.

[2018-08-03 12:35] greg7mdp commented on #67
try this:

[code]

[2018-08-03 17:23] RaguRam9967 commented on #67
hi i tried that, but still have few issues,
PS: IM TRYING TO SERIALIZE  'sparse_hash_map<int,sparse_hash_map< string, vector<int>>> '
temp5.cpp:152:66: error: ‘T’ was not declared in this scope
               class A = SPP_DEFAULT_ALLOCATOR<std::pair<const K, T> > >
                                                                  ^
temp5.cpp:152:67: error: template argument 2 is invalid

[2018-08-03 17:36] greg7mdp commented on #67
My mistake... try this:

[code]

[2018-08-03 18:19] RaguRam9967 commented on #67
yupp... its working. thanks a lot for helping me. Thank you again.

[2018-08-03 18:47] RaguRam9967 opened #68 "how to find the memory consumed by a specific sparse_hash_map<int,string> or something??"
im using many maps in my projects like 'sparse_hash_map<int,vector<string>>' and 'sparse_hash_map<int,sparse_hash_map<string, vector<int>>>' so is there a way to get the memory consumed by each map specifically ?

[2018-08-03 18:53] greg7mdp commented on #68
No, currently there is no way to get the memory consumed by each map specifically.
Do your maps have a lot of entries in each of them?

[2018-08-03 19:10] RaguRam9967 commented on #68
well, it depends. actually im trying to insert entries into the map from a large csv file (say more than 2 gb). but obviously i cant load everything. so if i could find the memory consumed by a  map, after some limit i can serialize the map into a file and clear the map so that i can continue inserting the remaining data into it.

[2018-08-03 19:15] greg7mdp commented on #68
I think you should figure out if you have many very small maps (just by calling size()) to get the number of elements).

If that is the case you can use my [sho](https://github.com/greg7mdp/sho) header to save memory.

[2018-08-03 19:45] RaguRam9967 commented on #68
yea i know how to get the size of the map. but i need to know the memory consumed by a map.

[2018-08-12 16:35] RaguRam9967 commented on #67
hey it seems the code you sent for map<int,vector<string>> is not working properly. for some few entries it is fine i guess but i when  i try to put more entries then while deserializing i could see the values is not inserted properly. can you please check it.

[2018-09-05 10:19] Ragu9967 opened #69 "serialize / deserialize sparse_hash_map<int, sparse_hash_map <int , string> >"
Hi @greg7mdp, how to serialize/deserialize containers like 'sparse_hash_map<int, sparse_hash_map <int , string> >' i tried with that updated File Serializer class where you added code for handling the <int , vector < string >> types but it seems that there is some issues with it as i couldnt get a proper output.
It would be great if you could help me with this.
Thanks.

[2018-09-05 13:51] greg7mdp commented on #69
Please send me a full program I can use for testing, and I'll look into it. Thanks - greg

[2018-09-13 13:02] vspinu commented on #66
Wondering the same thing. I have received a request from R CRAN maintainers to fix this warning for an R package of mine which uses sparcepp internally.

[2018-09-13 13:34] greg7mdp commented on #66
@vspinu, the warning is not worrysome. Can you try the version I just checked in and let me know if it suppresses the warning? thanks - greg

[2018-09-13 23:43] vspinu commented on #66
It does help with that particular instance, but there are 3 places which give such warnings:

[code]

[2018-09-14 02:29] greg7mdp commented on #66
@vspinu, please try the latest version.

[2018-09-14 09:59] vspinu commented on #66
No warnings at all. Thanks!

[2018-09-14 11:04] #66 closed

[2018-09-14 15:50] philippecp opened #70 "emplace calls copy constructor."
The following code doesn't compile with sparse_hash_map but works fine with std::unordered_map;

[code]

[2018-09-16 01:01] greg7mdp commented on #70
I believe that the last version of spp.h fixes the issue. Please let me know if you still have problems.

[2018-09-16 01:01] #70 closed

[2018-09-16 16:10] greg7mdp commented on #62
@kuviman , very sorry for the delay in fixing this bad issue, and thank you again for reporting it.

[2018-09-16 16:10] #62 closed

[2018-09-19 14:13] vspinu opened #71 "Throw runtime error instead of program exit?"
Is there a specific reason to `exit` instead of throwing [here](https://github.com/greg7mdp/sparsepp/blob/master/sparsepp/spp.h#L1143)? This makes it somewhat tricky to use spp in applications which are not supposed to exit. Particularly the maintainer of the the R wrapper does [this](https://github.com/dselivanov/sparsepp/commit/b21d1bd744e5a9e94708df022c05bff462755a69) because R packages are not

[2018-09-19 15:01] greg7mdp commented on #71
The allocator should throw, so normally we would never go there. However indeed I could replace with a throw if it make the R maintainer happier.

[2018-09-19 15:06] vspinu commented on #71
That would be very much appreciated :)  The R's CRAN incoming checks explicitly grep for exit and fprintf so we are having trouble even if those are harmless.

[2018-09-19 18:27] vspinu commented on #71
Great! Thanks for the instant resolution :)

[2018-10-09 07:08] onpduo opened #72 "sparse_hash_map emplace failed with no matching function for call error"
The following code doesn't compile with sparse_hash_map but works fine with std::unordered_map;

[code]

[2018-10-09 11:21] greg7mdp commented on #72
Hi @onpduo, thank you for reporting this issue.

The compilation issue  is because sparsepp requires values to be copyable, which is not the case of the class A in your example. I will update the README to clearly state that restriction. Sorry for the inconvenience.

[2018-10-09 17:12] onpduo commented on #72
@greg7mdp Thanks for letting me know.

[2018-10-09 17:12] #72 closed

[2018-10-09 21:30] greg7mdp commented on #72
Just a thought, you could create a spp::sparse_hash_map<std::string, **std::shared_ptr<A>**> m;

[code]

[2018-10-09 21:51] greg7mdp commented on #72
@onpduo , sparsepp will also accept "movable" values, for example the following builds fine:

[code]

[2018-10-15 14:33] greg7mdp commented on #53
Documented in README that values inserted into sparsepp have to either be copyable and movable, or just movable. See example movable.cc.

[2018-10-15 14:33] #53 closed

[2018-10-15 14:34] greg7mdp commented on #69
@Ragu9967 , closing issue as sample program not submitted. Please reopen if you want to provide one.

[2018-10-15 14:34] #69 closed

[2018-10-15 14:43] greg7mdp commented on #68
Map size cannot be computed reliable, as we don't know the allocator overhead when allocating small buffers. It would be better to track the process memory usage to decide when it is appropriate to serialize to disk.

[2018-10-15 14:43] #68 closed

[2018-10-26 14:16] philippecp opened #73 "Support operator[] with rvalue"
The following code doesn't compile:

#include "sparsepp/spp.h"
#include <unordered_map>

using namespace std;

int main()
{
	using Key = std::unique_ptr<std::string>;
	using Value = std::unique_ptr<std::string>;
#if 1
	using AssociativeContainer = spp::sparse_hash_map<Key, Value>;
#else
	using AssociativeContainer = unordered_map<Key, Value>;
#endif
	AssociativeContainer c;
	auto& value = c[std::m

[2018-10-27 15:53] greg7mdp commented on #73
Hi Philippe, thanks for reporting this issue. I fixed the insertion of rvalues... however maybe some other APIs will have difficulty with those. If that is the case please let me know and I will try to address the issue quickly. I have added an example in sparsepp/examples: insert_rvalue.cc.

[2018-10-28 15:39] #73 closed

[2018-11-01 14:54] eglaser77 commented on #17
@greg7mdp Is there any way to get the total memory usage from the map? Something like cpp-btree's bytes_used function (https://github.com/algorithm-ninja/cpp-btree/blob/master/btree.h#L1173)? Thanks!

[2018-11-02 12:30] greg7mdp commented on #17
@eglaser77,  Unfortunately, there is no exact way to provide this information. sparsepp makes many small memory allocations, and while it would be possible to compute the memory requested, each memory allocation has an overhead which is unknown to sparsepp, so the returned result would not be accurate.

However, you could use the function GetProcessMemoryUsed() from spp_memory.h to measure memory

[2018-11-02 19:46] eglaser77 commented on #17
@greg7mdp Thanks for the response. I'll take a look at GetProcessMemoryUsed but I assume it gets all system memory and so it would be conflated with whatever other allocations/deallocations are going on at the same time as the map is being used.

[2018-11-02 21:00] greg7mdp commented on #17
@eglaser77 I believe this will return the memory used by your process only, not the whole system.

[2018-11-30 07:57] JerryKwan commented on #17
Is there a way to use this from golang? thank you

[2018-12-05 04:11] KeithYue opened #74 "When hashing on vector"
I want to store unique vector<int>, so I use spp::sprase_hash_set<vector<int>>, here is my hash function for vector:
`
// code
namespace std{

     template<>

     struct hash<vector<int>>{
         std::size_t operator()(std::vector<int> const& vec) const {
           std::size_t seed = vec.size();
           for(auto& i : vec) {
             seed ^= i + 0x9e3779b9 + (seed << 6) + (seed >> 2);

[2018-12-05 16:55] greg7mdp commented on #74
Hum, it doesn't look like the code you sent would compile. For example you use `std::vector a = {2,3,4};` instead of `std::vector<int> a = {2,3,4};`.

Can you post the exact test program you used?

Thanks!

[2018-12-06 06:40] KeithYue commented on #74
`s.contains(c)` should be `true`, since the vectors `a` and `c` is the same.

[2018-12-06 06:40] KeithYue commented on #74
`s.contains(c) should be true, since the vectors` a `and `c` is the same.

[2018-12-06 06:44] KeithYue commented on #74
Here is the output of the test program.
![screen shot 2018-12-06 at 2 43 57 pm](https://user-images.githubusercontent.com/1284810/49566410-7719e900-f965-11e8-83c8-37a7dde5235f.png)

[2018-12-26 01:45] greg7mdp commented on #74
What compiler are you using? I just tried it with gcc 5.4.0 and got the expected output:
![image](https://user-images.githubusercontent.com/1496907/50428470-0855ee80-0886-11e9-9db5-0e0089005946.png)

[2018-12-26 04:54] KeithYue commented on #74
I am using gcc (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0

[2018-12-26 04:54] KeithYue commented on #74
I am using gcc (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0

[2018-12-27 02:54] KeithYue commented on #74
I am using C++14， maybe this

[2018-12-27 03:17] KeithYue commented on #74
I have tried, I can not get the write answer. Here is the source code (main.cpp).
[code]
Here is the compile command:
`g++ -std=c++11 main.cpp -o test -I ./`

Here is the output:

![screen shot 2018-12-27 at 11 17 06 am](https://user-images.githubusercontent.com/1284810/50463884-0b0d2c80-09c9-11e9-932e-67ac2756aeaa.png)

[2018-12-27 04:36] greg7mdp commented on #74
I built your exact program and cannot reproduce the issue. Are you using the latest version of sparsepp?

[2018-12-27 04:37] greg7mdp commented on #74
also, please provide the output of the command: `g++ -v`

[2018-12-27 06:14] KeithYue commented on #74
Finally it works after I update spp to the latest version. Thanks very much.

[2018-12-27 06:14] #74 closed

[2018-12-27 13:05] greg7mdp commented on #74
Great, Thanks!

[2018-12-28 05:59] Ragu9967 opened #75 "Help me to serialize/deserialize sparse_hash_map<int , vector< std::string > >"
#include <cstdio>
#include <stdlib.h>
#include <algorithm>
#include <vector>
#include <fstream>
#include <sparsepp/spp_timer.h>
#include <sparsepp/spp_memory.h>
#include <sparsepp/spp.h>
//PLEASE USE THIS SPARSEPP LIBRAR. I HAVENT INCLUDED IT
using spp::sparse_hash_map;
using namespace std;

class FileSerializer
{
public:
    // serialize basic types to FILE
    // -----------------------------

[2018-12-28 13:20] greg7mdp commented on #75
There is an example in the examples directory which has the FileSerializer you need.

However I have updated your example so that it works:

[code]

[2018-12-28 13:20] #75 closed

[2019-01-03 16:15] anthony-royal-bisimulations commented on #17
Is there a possibility of updating your iterator class to remove the warning from VS2017?  They are deprecating inheriting from the std:: iterator class.

[2019-01-03 16:39] greg7mdp commented on #17
What warning do you get? I don't see it with VS2017 (version 15.9.4)

[2019-01-03 16:41] greg7mdp commented on #17
Not that I know, sorry.

[2019-01-03 20:00] greg7mdp commented on #17
I don't know how to reproduce the issue, but I should be able to fix it anyways - will try to get to it today. In the meanwhile you could add `#pragma warning(disable : 4996).` in your file.

[2019-01-04 02:07] greg7mdp commented on #17
@anthony-royal-bisimulations - warning should be fixed. Thanks for reporting the issue.

[2019-01-22 05:46] fangpin opened #76 "missing return value in function spp_sptr& operator=(spp_sptr &&o) ?"
Why there is no return in function spp_smartptr.h/spp_sptr& operator=(spp_sptr &&o),
[spp_sptr& operator=(spp_sptr &&o)
    {
        if (_p) _p->decrement();
        _p = o._p;
        o._p = (T *)0;
    }](url)
[code]
Should return *this?

[2019-01-22 11:41] greg7mdp commented on #76
Yes, you are right, thanks you for reporting this mistake. I have just checked in the fix.

[2019-01-22 11:41] #76 closed

[2019-01-27 15:42] Marukyu opened #77 "SIGSEGV on using move-assigned-from hash set"
Moving a `spp::sparse_hash_set` causes the moved-from instance to enter an invalid state with a `bucket_count` of 0, resulting in undefined behavior when performing an operation such as `erase()`, as most of the sparsepp library assumes a non-zero `bucket_count`. Clearing the affected hash set after moving does not appear to fix the invalid `bucket_count`.

`std::unordered_set` does not exhibit th

[2019-01-27 22:31] greg7mdp commented on #77
@Marukyu, thank you very much for reporting the issue, and I do appreciate you providing the small program to reproduce it. I just checked in a fix. Please let me know if you have any further problem with sparsepp.

[2019-01-27 22:31] #77 closed

[2019-01-27 22:58] Marukyu commented on #77
@greg7mdp, thank you so much for the fast response and fix! After updating to the latest version, sparsepp now works perfectly within my project. I especially appreciate the library's built-in support for efficient table serialization/deserialization.

[2019-01-27 23:01] greg7mdp commented on #77
@Marukyu, I'm delighted that sparsepp works well for you. Thanks for letting me know.

[2019-02-11 14:39] ekg commented on #17
I'm interested on your thoughts on https://attractivechaos.wordpress.com/2018/01/13/revisiting-hash-table-performance/. This benchmark suggests that klib's khash is much faster than sparsepp with lower memory usage. If this benchmark isn't flawed, how could sparsepp be improved to match khash's performance?

[2019-02-11 14:57] greg7mdp commented on #17
Hum, maybe I am misunderstanding the graphs, but sparsepp seems to have about the same memory usage as khash.

One thing where sparsepp shines is not the memory usage itself, but the memory high water mark when the table resizes (when inserting more items). In my experience this is often what limits the number of items a table can hold, if you don't know the final size in advance.

In any case, I

[2019-02-11 15:00] SlowPokeInTexas commented on #17
"The best thing to do is to actually try different hash tables with your
own use case. You may be surprised by the results (which don't always match
posted benchmarks)."

I would agree with this wholeheartedly. Have multiple arrows in your quiver
and be prepared to use the right one for a given project.

On Mon, Feb 11, 2019 at 8:57 AM Gregory Popovitch <notifications@github.com>
wrote:

--
"The b

[2019-03-15 14:46] mohansella opened #78 "Unable to create map for value type with deleted copy constructor"
I have a buffer class as below.
[code]

I see that sparsepp is better than std. so, i started migrating. I have ported half of my code. but stuck at below case.

Below is a sample code with std. it compiles and works as expected.
[code]

But below ported code with SparsePP not compiling.
[code]

What is the recommended way to achieve this?

[2019-03-16 18:29] mohansella commented on #78
I have implemented move constructor for my buffer and then it compiles. But still not sure why it compiles with std without move constructor.

[2019-03-16 19:00] greg7mdp commented on #78
Hi @mohansella , sorry for the delay in responding. Internally sparsepp does have to move some values, either when they are inserted in the sparse_hash_map, or sometimes when other values are inserted. This is why the values have to be copyable or movable. Implementing the move constructor is a good solution.

std::unordered_map does not have that restriction, because the values are inserted in a

[2019-03-16 19:00] #78 closed

[2019-03-22 16:57] randian opened #79 "Can't insert std::tuple: spp uses deleted constructor/destructor"
gcc 8.3:

g++ -std=c++17 -O3

#include <sparsepp/spp.h>
#include <string>
#include <tuple>

using line = std::tuple<std::string, std::string, std::string>;
spp::sparse_hash_set<line> ns;
std::string string1, string2, string3;
ns.insert(std::make_tuple(string1, string2, string3)); // emplace has the same problem

/data/jbuster/develop/install-release/include/sparsepp/sparsepp/spp_utils.h:147:27: er

[2019-03-22 17:03] #79 closed

[2019-03-22 17:03] randian commented on #79
didn't know std::hash wasn't specialized for tuples.

[2019-04-25 11:51] murias commented on #17
I've noticed you are shipping your own version of dlmalloc with sparsepp. In the light of other malloc implementations that might be installed system wide (like tcmalloc from gperftools), this seems kind of redundant to me.
What influenced your decision to includ dlmalloc? Did you encounter bad performance with the default system malloc?
And finally, in your benchmarks, shouldn't all maps use the

[2019-04-25 12:45] greg7mdp commented on #17
Indeed I ship a dlmalloc based allocator because the default allocator on windows sometimes has a very high memory usage with sparsepp pattern of allocation. There is some iexplanation in the README.

They do. The custom allocator is not used by default. You =have to define `SPP_USE_SPP_ALLOC`.

[2019-08-22 09:17] lizkwan opened #80 "Lookup non-present keys becomes very slow."
"For basic integer types, sparsepp provides a default hash function which does some mixing of the bits of the keys (see Integer Hashing). This prevents a pathological case where inserted keys are sequential (1, 2, 3, 4, ...), and the lookup on non-present keys becomes very slow."

I've run to the problem you mentioned in the documentation.
I have a hash map (sparse_hash_map<int64_t, string>), then

[2019-08-22 11:33] greg7mdp commented on #80
This is because we know that a key is not present when we find an empty spot. This takes a long time when many contiguous spots are occupied, because we resolve collisions with probing neighboring locations (see https://en.wikipedia.org/wiki/Open_addressing - we use quadratic probing).

[2019-08-22 11:33] #80 closed

[2019-08-23 13:07] greg7mdp commented on #41
I don't plan on implementing this in sparsepp, but that feature is available in my [parallel_hashmap](https://github.com/greg7mdp/parallel-hashmap) which I think is a better hash map implementation. I would recommend you switch to it.

[2019-08-23 13:07] #41 closed

[2019-08-28 14:51] devshgraphicsprogramming opened #81 "Do you support C++11 stateful allocators?"
Does sparsepp ever make its own clean instance of my custom Allocator and allocates from that instead of a copy of the allocator I passed in the constructor?

[2019-08-30 13:48] greg7mdp commented on #81
I don't believe so, although the support of stateful allocators in sparsepp is probably not 100% correct. If you want to use stateful allocators I recommend you use https://github.com/greg7mdp/parallel-hashmap

[2019-08-30 13:48] #81 closed

[2019-09-02 11:17] buczek opened #82 "Default allocator doesn't throw and caller doesn't check for NULL"
At vgteam/vg#2417 we've had a ENOMEM error turning into a segfault, because the default allocator `libc_allocator` uses malloc() and doesn't check the return value [1]. The caller at [2] also doesn't check the return value. The comment at another call site [3] suggest, that the allocator is supposed to throw.

[1] https://github.com/greg7mdp/sparsepp/blob/64a3d01feb127a7b826a02a6eded797110cd3fe6/s

[2019-09-02 12:42] greg7mdp commented on #82
Sorry about that, and thanks for the detailed report. I just checked in a fix.

[2019-09-02 12:42] #82 closed

[2019-09-17 12:23] diameter opened #83 "SEGV after moving hash_map"
Linux/Darwin gcc/clang MWE
[code]

[2019-11-29 14:20] Shaheen47 opened #84 "conan package"
Hello,
It would be easier to use if this library was exported as Conan package.

[2019-11-29 16:44] greg7mdp commented on #84
Hi @Shaheen47 , I added a conan recipe. Does this help?

[2019-12-03 12:41] Shaheen47 commented on #84
@greg7mdp  Thanks,it does help...However,uploading it to conan repositories such as Bintray would allow users to use it as conan package more easily.

[2020-01-05 15:47] sunnyszy opened #85 "sparse_hash_map<uint32_t, uint64_t> takes more memory than sparse_hash_map<uint64_t, uint64_t>"
Hi,

I'm using sparse_hash_map for its great memory efficiency. When I do a small test, I found sparse_hash_map<uint32_t, uint64_t> takes more memory than sparse_hash_map<uint64_t, uint64_t>! I wonder why this can happen given you need more bits to store uint64?

Below is my code:

[code]

My test environment:
Ubuntu 18.04.3 LTS 64bit

And my results:

sparse_hash_map<uint32_t, uint64_t> resident

[2020-01-08 02:16] rob-p commented on #83
What is the intended behavior here?  A moved-from object is generally assumed to be in an undefined state.  Presumably, this means that it can still be validly-destructed, but you can't do much else with it.  I guess, the most robust behavior would be for the moved-from map to be empty ; is that what you would expect?  Any thoughts @greg7mdp?

[2020-01-08 02:56] greg7mdp commented on #83
@rob-p yes indeed the moved-from object should be in a consistent state, so this is a bug. I'll look into it when I have some time. In the meanwhile maybe [phmap](https://github.com/greg7mdp/parallel-hashmap) is a good alternative.

[2020-01-15 01:17] brenoguim opened #86 "memcpy can happen with null "source" parameter"
In the following line:
https://github.com/greg7mdp/sparsepp/blob/209cb772c28272eb6b2157b79afe554c0102fb61/sparsepp/spp.h#L2090

`memcpy` can happen with `_first_group` as a null pointer and count `0`. Passing null to the second argument is an undefined behavior, even if count is zero.

[2020-01-15 01:21] greg7mdp commented on #86
What is the source for this statement? Just curious.

[2020-01-15 01:22] brenoguim commented on #86
https://en.cppreference.com/w/cpp/string/byte/memcpy

[2020-01-15 01:24] greg7mdp commented on #86
fair enough. I'll check in a fix

[2020-01-15 01:29] greg7mdp commented on #86
This ought to do it.

[2020-01-15 01:29] #86 closed

[2020-01-15 01:44] brenoguim commented on #86
Thanks!!

[2020-01-15 01:57] greg7mdp commented on #86
@brenoguim my previous fix was wrong, I updated it. Thanks - greg

[2020-01-15 09:01] dselivanov opened #87 "class-memaccess warning when compiling with GCC 8 or later"
When compiling with gcc 8+ I'm getting:

Looks similar to https://github.com/sparsehash/sparsehash/issues/149 and seems fixed in [this PR](https://github.com/sparsehash/sparsehash/pull/153). Can we backport it here?

[2020-02-12 17:20] dselivanov commented on #87
ok, now I think this is nothing to do with `sparsepp`. However I don't know how to fix this :-( appreciate any help.

[2020-02-12 17:20] #87 closed

[2020-02-19 17:30] AraHaan commented on #51
Nice solution but Any solution to the ``std::binary_function`` issue as well?

[2020-04-24 18:37] AneesHl opened #88 "Problem when compiling on macOS catalina"
Hi, I'm trying to build a project on macOS Catalina that contains sparsepp but I'm getting a fatal error (similar to an old closed issue). I'm not sure what the cause of the issue is:

=====

discodop/../sparsepp/sparsepp/spp_utils.h:87:17: fatal error: 'tr1/functional' file not found
       #include <tr1/functional>
                ^~~~~~~~~~~~~~~~
1 error generated.
error: command 'gcc' failed w

[2020-04-24 20:56] greg7mdp commented on #88
Try just replacing the line:
`    #if __has_feature(cxx_noexcept)  // what to use here?`
with
`    #if 1`

the issue is that sparsepp supports really old compilers.

[2020-04-24 22:35] AneesHl commented on #88
thank you!

[2020-04-25 00:54] #88 closed

[2020-04-25 16:28] andreasvc commented on #88
Wouldn't it be good to fix this issue properly so that both old and new compilers are supported? i.e., replace `#if __has_feature(cxx_noexcept)` with another condition?

[2020-04-25 18:01] greg7mdp commented on #88
Yes, it would be great but I don't have access to macs with various xcode versions to check what works and what not.

[2020-05-01 09:27] andreasvc commented on #88
Fair enough, same here. A workaround would be to check not just `__has_feature(cxx_noexcept)` but also a user-supplied/user-overridable define, such as `SPP_CXX11`.

[2020-05-01 12:02] greg7mdp commented on #88
Excellent suggestion, thanks @andreasvc, done.

[2020-05-25 11:20] cookieli opened #89 "Can sparse_hash_map support unique_ptr?"
I have a class member like this:
[code]
And it will get following errors:
[code]
And when i change it to:
[code]
everything is ok,so what happened?

[2020-06-15 15:27] rob-p opened #90 "Compiler warning on realloc call within sparsepp."
Hi @greg7mdp,

  Thanks again for both sparsepp and parallel-hashmap!  I wanted to report a (fairly verbose) compiler warning I get when using sparsepp within some of our code.  Specifically, I get a a compiler trace that ends in the following warning.  It looks like the root cause is using realloc on a type that is not trivially copyable.  Any suggestions on how to fix this?

[code]

[2020-11-23 02:45] greg7mdp commented on #90
This type `struct std::pair<const std::pair<unsigned int, unsigned int>, unsigned int>` is in fact safe to reallocate, even if the c++11 API std::is_trivially_copyable returns false.  `sparsepp` doesn't require a c++11 compiler and uses the internal `spp::is_relocatable`.

As far as I can tell this warning can safely be ignored.

[2020-11-23 02:54] greg7mdp commented on #85
Hi @sunnyszy

Because of alignment and padding, the memory required for `std::pair<uint32_t, uint64_t>` and `std::pair<uint64_t, uint64_t>` is probably the same (you can use sizeof() to check for yourself.
What happens is that the hashing if the integers is a little different with uint32_t and uint64_t causing the small difference you see.

if you use `sparse_hash_map<uint32_t, uint32_t>` the memo

[2020-11-23 02:54] #85 closed

[2021-01-08 06:21] lengocthuong15 opened #91 "Error when compile: is not a special member function which can be defaulted"
Hi,
When I included the file spp.h into my project and compile it, it hit the error message as below
spp.h(3722) : error C2610: 'spp::sparse_hash_map<Key,T,HashFcn,EqualKey,Alloc> &spp::sparse_hash_map<Key,T,HashFcn,EqualKey,Alloc>::operator =(spp::sparse_hash_map<Key,T,HashFcn,EqualKey,Alloc> &&)' : is not a special member function which can be defaulted

[2021-01-08 17:31] greg7mdp commented on #91
@lengocthuong15 - Issue is fixed. Thanks for reporting it! Please let me know if you still have a problem.

[2021-01-08 17:31] #91 closed

[2021-01-11 02:22] lengocthuong15 commented on #91
The issue has been fixed, thank you.

[2021-05-08 17:54] greg7mdp commented on #17
Really appreciate the great feedback. Closing the issue as my focus is more on [phmap](https://github.com/greg7mdp/parallel-hashmap) now.

[2021-05-08 17:54] #17 closed

[2021-07-21 20:42] sagaceilo opened #92 "Missing return value."
Hey :)
This function should `return *this;`
https://github.com/greg7mdp/sparsepp/blob/e40d7a000a036fb40ab3cca062e592a7f2d08894/sparsepp/spp.h#L3725

[2021-07-21 20:56] greg7mdp commented on #92
Thanks, will fix right away!

[2021-07-21 20:57] greg7mdp commented on #92
Thanks again!

[2021-07-21 20:57] #92 closed